/*
Theme Name: Mrbara
Description: Used to style the TinyMCE editor.
*/

/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Galleries
 */

/**
 * 1.0 - Body
 */

body {
    color: #999;
    font-size: 14px;
    font-family: Poppins, Arial, sans-serif;
    line-height: 1.7;
    background: #fff;
    word-wrap: break-word;
    font-weight: 400;
}

/**
 * 2.0 - Typography
 */

a {
    transition: 0.5s;
    color: #990000;
    text-decoration: none;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
    color: #990000;
}

a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
a img {
    border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: Montserrat, "Times New Roman", Times, serif;
    line-height: 1.2;
    color: #000;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

.wp-block-freeform.block-library-rich-text__tinymce h1 {
    font-size: 36px;
}

.wp-block-freeform.block-library-rich-text__tinymce h2 {
    font-size: 30px;
}

.wp-block-freeform.block-library-rich-text__tinymce h3 {
    font-size: 24px;
}

.wp-block-freeform.block-library-rich-text__tinymce h4 {
    font-size: 18px;
}

.wp-block-freeform.block-library-rich-text__tinymce h5 {
    font-size: 14px;
}

.wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-size: 12px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul ul {
    list-style-type: square;
}

li {
    margin-bottom: 7px;
}
p {
    margin-bottom: 1.7em;
    font-size: 14px;
}

.wp-block-gallery {
    padding-left: 0;
}

.mce-content-body {
    line-height: 1.7;
}

.has-small-font-size {
    font-size: 13px;
}

.has-normal-font-size, .has-regular-font-size {
    font-size: 16px;
}

.has-huge-font-size,
.has-larger-font-size {
    font-size: 42px;
}

.has-large-font-size {
    font-size: 36px;
}

b, strong {
    font-weight: 700;
}

/**
 * 3.0 - Elements
 */

hr {
    background-color: #bbb;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

input[type=text],
textarea {
    border: 1px solid #999;
    background: #fff;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #990000;
    padding: 10px 15px;
    margin: 0 0 20px;
    font-size: 17.5px;
}
blockquote p {
    margin-bottom: 10px;
    font-size: 17.5px;
}
blockquote cite {
    display: block;
    font-style: normal;
    color: #000;
}
blockquote cite:before {
    content: "\2014\00a0";
}

.wp-block-quote {
    margin: 20px 0;
}

blockquote cite:before,
blockquote .wp-block-quote__citation:before,
blockquote .wp-block-pullquote__citation:before {
    content: "\2014\00a0";
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-style-large .wp-block-quote__citation {
    float: right;
}

.wp-block-quote.is-large:after,
.wp-block-quote.is-style-large:after {
    clear: both;
    content: "";
    display: block;
}

blockquote .wp-block-pullquote__citation,
blockquote cite,
blockquote .wp-block-quote__citation {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    position: relative;
    color: #000;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
    box-shadow: none;
    border-left: 5px solid #990000;
    margin: 0 0 20px;
    padding-left: 15px;
}

.wp-block-pullquote cite, .wp-block-pullquote footer, .wp-block-pullquote  .wp-block-pullquote__citation {
    display: inline-block;
    font-size: 16px;
}

.wp-block-pullquote blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
}

.wp-block-pullquote blockquote p {
    margin-bottom: 10px;
}


.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    max-width: 305px;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote.alignleft blockquote > .editor-rich-text p,
.wp-block-pullquote.alignright blockquote > .editor-rich-text p {
    font-size: 20px;
}

blockquote cite {
    display: block;
    color: #000;
}

blockquote p {
    margin: 0;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    margin: 0 0 16px;
    padding: 0 1em;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 5px solid #990000;
    padding-left: 15px;
}

.wp-block-quote.is-large cite, .wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-style-large cite, .wp-block-quote.is-style-large .wp-block-quote__citation {
    font-size: 18px;
    text-align: right;
}

.wp-block-code {
    font-size: 14px;
    color: #23282d;
    padding: .8em 1em;
    border: 1px solid #e2e4e7;
    border-radius: 4px;
    background-color: #eee;
}

.wp-block-code .editor-plain-text {
    background-color: #eee !important;
}

.wp-block-freeform.block-library-rich-text__tinymce code {
    color: #23282d;
    border: 1px solid #eee;
    background-color: #eee;
    font-size: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 4px;
    line-height: 1.6;
}

kbd {
    padding: 2px 4px;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 14px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
}
caption,
td,
th {
    padding: 0;
    font-weight: normal;
    text-align: left;
}

table,
th,
td {
    border: 1px solid #d1d1d1;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 0.4375em;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1.75em;
}

.wp-block-table .wp-block-table__cell-content {
    padding: 0;
}

.is-style-outline .wp-block-button__link {
    border-width: 1px;
    background: 0 0;
}

ul.wp-block-categories, .wp-block-categories ul, ul.wp-block-archives {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wp-block-categories li a,
.wp-block-archives li a{
    color: #000;
}

.wp-block-categories li a:hover,
.wp-block-archives li a:hover{
    color: #999;
}

.wp-block-categories li ul {
    padding-left: 20px;
}

ul.wp-block-latest-posts, .wp-block-latest-posts ul {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

.wp-block-latest-posts li a {
    color: #000;
}

.wp-block-latest-posts li a:hover {
    color: #999;
}

.wp-block-categories select {
    padding: 10px;
    border: 1px solid #d9d9d9;
    color: #000;
    line-height: 1;
    height: auto;
    border-radius: 0;
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;

}

.alignleft {
    display: inline;
    float: left;
    margin: 5px 20px 20px 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 5px 0 20px 20px;
}

.wp-block-separator {
    clear: both;
}

/**
 * 4.0 - Alignment
 */

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object {
    margin-bottom: 1.5em;
    max-width: 100%;
}

/**
 * 5.0 - Galleries
 */

.gallery {
    margin-left: -15px;
    margin-right: -15px;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 0 15px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-columns-10 .gallery-item {
    max-width: 10%;
}

.gallery-caption {
    display: block;
}