@font-face {
	font-family: 'Linearicons';
	src: url('../fonts/Linearicons.eot?cjf741');
	src: url('../fonts/Linearicons.eot?cjf741#iefix') format('embedded-opentype'),
	url('../fonts/Linearicons.ttf?cjf741') format('truetype'),
	url('../fonts/Linearicons.woff?cjf741') format('woff'),
	url('../fonts/Linearicons.svg?cjf741#Linearicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconlin-"], [class*=" iconlin-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Linearicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconlin-home:before {
	content: "\e600";
}

.iconlin-home2:before {
	content: "\e601";
}

.iconlin-home3:before {
	content: "\e602";
}

.iconlin-home4:before {
	content: "\e603";
}

.iconlin-home5:before {
	content: "\e604";
}

.iconlin-home6:before {
	content: "\e605";
}

.iconlin-bathtub:before {
	content: "\e606";
}

.iconlin-toothbrush:before {
	content: "\e607";
}

.iconlin-bed:before {
	content: "\e608";
}

.iconlin-couch:before {
	content: "\e609";
}

.iconlin-chair:before {
	content: "\e60a";
}

.iconlin-city:before {
	content: "\e60b";
}

.iconlin-apartment:before {
	content: "\e60c";
}

.iconlin-pencil:before {
	content: "\e60d";
}

.iconlin-pencil2:before {
	content: "\e60e";
}

.iconlin-pen:before {
	content: "\e60f";
}

.iconlin-pencil3:before {
	content: "\e610";
}

.iconlin-eraser:before {
	content: "\e611";
}

.iconlin-pencil4:before {
	content: "\e612";
}

.iconlin-pencil5:before {
	content: "\e613";
}

.iconlin-feather:before {
	content: "\e614";
}

.iconlin-feather2:before {
	content: "\e615";
}

.iconlin-feather3:before {
	content: "\e616";
}

.iconlin-pen2:before {
	content: "\e617";
}

.iconlin-pen-add:before {
	content: "\e618";
}

.iconlin-pen-remove:before {
	content: "\e619";
}

.iconlin-vector:before {
	content: "\e61a";
}

.iconlin-pen3:before {
	content: "\e61b";
}

.iconlin-blog:before {
	content: "\e61c";
}

.iconlin-brush:before {
	content: "\e61d";
}

.iconlin-brush2:before {
	content: "\e61e";
}

.iconlin-spray:before {
	content: "\e61f";
}

.iconlin-paint-roller:before {
	content: "\e620";
}

.iconlin-stamp:before {
	content: "\e621";
}

.iconlin-tape:before {
	content: "\e622";
}

.iconlin-desk-tape:before {
	content: "\e623";
}

.iconlin-texture:before {
	content: "\e624";
}

.iconlin-eye-dropper:before {
	content: "\e625";
}

.iconlin-palette:before {
	content: "\e626";
}

.iconlin-color-sampler:before {
	content: "\e627";
}

.iconlin-bucket:before {
	content: "\e628";
}

.iconlin-gradient:before {
	content: "\e629";
}

.iconlin-gradient2:before {
	content: "\e62a";
}

.iconlin-magic-wand:before {
	content: "\e62b";
}

.iconlin-magnet:before {
	content: "\e62c";
}

.iconlin-pencil-ruler:before {
	content: "\e62d";
}

.iconlin-pencil-ruler2:before {
	content: "\e62e";
}

.iconlin-compass:before {
	content: "\e62f";
}

.iconlin-aim:before {
	content: "\e630";
}

.iconlin-gun:before {
	content: "\e631";
}

.iconlin-bottle:before {
	content: "\e632";
}

.iconlin-drop:before {
	content: "\e633";
}

.iconlin-drop-crossed:before {
	content: "\e634";
}

.iconlin-drop2:before {
	content: "\e635";
}

.iconlin-snow:before {
	content: "\e636";
}

.iconlin-snow2:before {
	content: "\e637";
}

.iconlin-fire:before {
	content: "\e638";
}

.iconlin-lighter:before {
	content: "\e639";
}

.iconlin-knife:before {
	content: "\e63a";
}

.iconlin-dagger:before {
	content: "\e63b";
}

.iconlin-tissue:before {
	content: "\e63c";
}

.iconlin-toilet-paper:before {
	content: "\e63d";
}

.iconlin-poop:before {
	content: "\e63e";
}

.iconlin-umbrella:before {
	content: "\e63f";
}

.iconlin-umbrella2:before {
	content: "\e640";
}

.iconlin-rain:before {
	content: "\e641";
}

.iconlin-tornado:before {
	content: "\e642";
}

.iconlin-wind:before {
	content: "\e643";
}

.iconlin-fan:before {
	content: "\e644";
}

.iconlin-contrast:before {
	content: "\e645";
}

.iconlin-sun-small:before {
	content: "\e646";
}

.iconlin-sun:before {
	content: "\e647";
}

.iconlin-sun2:before {
	content: "\e648";
}

.iconlin-moon:before {
	content: "\e649";
}

.iconlin-cloud:before {
	content: "\e64a";
}

.iconlin-cloud-upload:before {
	content: "\e64b";
}

.iconlin-cloud-download:before {
	content: "\e64c";
}

.iconlin-cloud-rain:before {
	content: "\e64d";
}

.iconlin-cloud-hailstones:before {
	content: "\e64e";
}

.iconlin-cloud-snow:before {
	content: "\e64f";
}

.iconlin-cloud-windy:before {
	content: "\e650";
}

.iconlin-sun-wind:before {
	content: "\e651";
}

.iconlin-cloud-fog:before {
	content: "\e652";
}

.iconlin-cloud-sun:before {
	content: "\e653";
}

.iconlin-cloud-lightning:before {
	content: "\e654";
}

.iconlin-cloud-sync:before {
	content: "\e655";
}

.iconlin-cloud-lock:before {
	content: "\e656";
}

.iconlin-cloud-gear:before {
	content: "\e657";
}

.iconlin-cloud-alert:before {
	content: "\e658";
}

.iconlin-cloud-check:before {
	content: "\e659";
}

.iconlin-cloud-cross:before {
	content: "\e65a";
}

.iconlin-cloud-crossed:before {
	content: "\e65b";
}

.iconlin-cloud-database:before {
	content: "\e65c";
}

.iconlin-database:before {
	content: "\e65d";
}

.iconlin-database-add:before {
	content: "\e65e";
}

.iconlin-database-remove:before {
	content: "\e65f";
}

.iconlin-database-lock:before {
	content: "\e660";
}

.iconlin-database-refresh:before {
	content: "\e661";
}

.iconlin-database-check:before {
	content: "\e662";
}

.iconlin-database-history:before {
	content: "\e663";
}

.iconlin-database-upload:before {
	content: "\e664";
}

.iconlin-database-download:before {
	content: "\e665";
}

.iconlin-server:before {
	content: "\e666";
}

.iconlin-shield:before {
	content: "\e667";
}

.iconlin-shield-check:before {
	content: "\e668";
}

.iconlin-shield-alert:before {
	content: "\e669";
}

.iconlin-shield-cross:before {
	content: "\e66a";
}

.iconlin-lock:before {
	content: "\e66b";
}

.iconlin-rotation-lock:before {
	content: "\e66c";
}

.iconlin-unlock:before {
	content: "\e66d";
}

.iconlin-key:before {
	content: "\e66e";
}

.iconlin-key-hole:before {
	content: "\e66f";
}

.iconlin-toggle-off:before {
	content: "\e670";
}

.iconlin-toggle-on:before {
	content: "\e671";
}

.iconlin-cog:before {
	content: "\e672";
}

.iconlin-cog2:before {
	content: "\e673";
}

.iconlin-wrench:before {
	content: "\e674";
}

.iconlin-screwdriver:before {
	content: "\e675";
}

.iconlin-hammer-wrench:before {
	content: "\e676";
}

.iconlin-hammer:before {
	content: "\e677";
}

.iconlin-saw:before {
	content: "\e678";
}

.iconlin-axe:before {
	content: "\e679";
}

.iconlin-axe2:before {
	content: "\e67a";
}

.iconlin-shovel:before {
	content: "\e67b";
}

.iconlin-pickaxe:before {
	content: "\e67c";
}

.iconlin-factory:before {
	content: "\e67d";
}

.iconlin-factory2:before {
	content: "\e67e";
}

.iconlin-recycle:before {
	content: "\e67f";
}

.iconlin-trash:before {
	content: "\e680";
}

.iconlin-trash2:before {
	content: "\e681";
}

.iconlin-trash3:before {
	content: "\e682";
}

.iconlin-broom:before {
	content: "\e683";
}

.iconlin-game:before {
	content: "\e684";
}

.iconlin-gamepad:before {
	content: "\e685";
}

.iconlin-joystick:before {
	content: "\e686";
}

.iconlin-dice:before {
	content: "\e687";
}

.iconlin-spades:before {
	content: "\e688";
}

.iconlin-diamonds:before {
	content: "\e689";
}

.iconlin-clubs:before {
	content: "\e68a";
}

.iconlin-hearts:before {
	content: "\e68b";
}

.iconlin-heart:before {
	content: "\e68c";
}

.iconlin-star:before {
	content: "\e68d";
}

.iconlin-star-half:before {
	content: "\e68e";
}

.iconlin-star-empty:before {
	content: "\e68f";
}

.iconlin-flag:before {
	content: "\e690";
}

.iconlin-flag2:before {
	content: "\e691";
}

.iconlin-flag3:before {
	content: "\e692";
}

.iconlin-mailbox-full:before {
	content: "\e693";
}

.iconlin-mailbox-empty:before {
	content: "\e694";
}

.iconlin-at-sign:before {
	content: "\e695";
}

.iconlin-envelope:before {
	content: "\e696";
}

.iconlin-envelope-open:before {
	content: "\e697";
}

.iconlin-paperclip:before {
	content: "\e698";
}

.iconlin-paper-plane:before {
	content: "\e699";
}

.iconlin-reply:before {
	content: "\e69a";
}

.iconlin-reply-all:before {
	content: "\e69b";
}

.iconlin-inbox:before {
	content: "\e69c";
}

.iconlin-inbox2:before {
	content: "\e69d";
}

.iconlin-outbox:before {
	content: "\e69e";
}

.iconlin-box:before {
	content: "\e69f";
}

.iconlin-archive:before {
	content: "\e6a0";
}

.iconlin-archive2:before {
	content: "\e6a1";
}

.iconlin-drawers:before {
	content: "\e6a2";
}

.iconlin-drawers2:before {
	content: "\e6a3";
}

.iconlin-drawers3:before {
	content: "\e6a4";
}

.iconlin-eye:before {
	content: "\e6a5";
}

.iconlin-eye-crossed:before {
	content: "\e6a6";
}

.iconlin-eye-plus:before {
	content: "\e6a7";
}

.iconlin-eye-minus:before {
	content: "\e6a8";
}

.iconlin-binoculars:before {
	content: "\e6a9";
}

.iconlin-binoculars2:before {
	content: "\e6aa";
}

.iconlin-hdd:before {
	content: "\e6ab";
}

.iconlin-hdd-down:before {
	content: "\e6ac";
}

.iconlin-hdd-up:before {
	content: "\e6ad";
}

.iconlin-floppy-disk:before {
	content: "\e6ae";
}

.iconlin-disc:before {
	content: "\e6af";
}

.iconlin-tape2:before {
	content: "\e6b0";
}

.iconlin-printer:before {
	content: "\e6b1";
}

.iconlin-shredder:before {
	content: "\e6b2";
}

.iconlin-file-empty:before {
	content: "\e6b3";
}

.iconlin-file-add:before {
	content: "\e6b4";
}

.iconlin-file-check:before {
	content: "\e6b5";
}

.iconlin-file-lock:before {
	content: "\e6b6";
}

.iconlin-files:before {
	content: "\e6b7";
}

.iconlin-copy:before {
	content: "\e6b8";
}

.iconlin-compare:before {
	content: "\e6b9";
}

.iconlin-folder:before {
	content: "\e6ba";
}

.iconlin-folder-search:before {
	content: "\e6bb";
}

.iconlin-folder-plus:before {
	content: "\e6bc";
}

.iconlin-folder-minus:before {
	content: "\e6bd";
}

.iconlin-folder-download:before {
	content: "\e6be";
}

.iconlin-folder-upload:before {
	content: "\e6bf";
}

.iconlin-folder-star:before {
	content: "\e6c0";
}

.iconlin-folder-heart:before {
	content: "\e6c1";
}

.iconlin-folder-user:before {
	content: "\e6c2";
}

.iconlin-folder-shared:before {
	content: "\e6c3";
}

.iconlin-folder-music:before {
	content: "\e6c4";
}

.iconlin-folder-picture:before {
	content: "\e6c5";
}

.iconlin-folder-film:before {
	content: "\e6c6";
}

.iconlin-scissors:before {
	content: "\e6c7";
}

.iconlin-paste:before {
	content: "\e6c8";
}

.iconlin-clipboard-empty:before {
	content: "\e6c9";
}

.iconlin-clipboard-pencil:before {
	content: "\e6ca";
}

.iconlin-clipboard-text:before {
	content: "\e6cb";
}

.iconlin-clipboard-check:before {
	content: "\e6cc";
}

.iconlin-clipboard-down:before {
	content: "\e6cd";
}

.iconlin-clipboard-left:before {
	content: "\e6ce";
}

.iconlin-clipboard-alert:before {
	content: "\e6cf";
}

.iconlin-clipboard-user:before {
	content: "\e6d0";
}

.iconlin-register:before {
	content: "\e6d1";
}

.iconlin-enter:before {
	content: "\e6d2";
}

.iconlin-exit:before {
	content: "\e6d3";
}

.iconlin-papers:before {
	content: "\e6d4";
}

.iconlin-news:before {
	content: "\e6d5";
}

.iconlin-reading:before {
	content: "\e6d6";
}

.iconlin-typewriter:before {
	content: "\e6d7";
}

.iconlin-document:before {
	content: "\e6d8";
}

.iconlin-document2:before {
	content: "\e6d9";
}

.iconlin-graduation-hat:before {
	content: "\e6da";
}

.iconlin-license:before {
	content: "\e6db";
}

.iconlin-license2:before {
	content: "\e6dc";
}

.iconlin-medal-empty:before {
	content: "\e6dd";
}

.iconlin-medal-first:before {
	content: "\e6de";
}

.iconlin-medal-second:before {
	content: "\e6df";
}

.iconlin-medal-third:before {
	content: "\e6e0";
}

.iconlin-podium:before {
	content: "\e6e1";
}

.iconlin-trophy:before {
	content: "\e6e2";
}

.iconlin-trophy2:before {
	content: "\e6e3";
}

.iconlin-music-note:before {
	content: "\e6e4";
}

.iconlin-music-note2:before {
	content: "\e6e5";
}

.iconlin-music-note3:before {
	content: "\e6e6";
}

.iconlin-playlist:before {
	content: "\e6e7";
}

.iconlin-playlist-add:before {
	content: "\e6e8";
}

.iconlin-guitar:before {
	content: "\e6e9";
}

.iconlin-trumpet:before {
	content: "\e6ea";
}

.iconlin-album:before {
	content: "\e6eb";
}

.iconlin-shuffle:before {
	content: "\e6ec";
}

.iconlin-repeat-one:before {
	content: "\e6ed";
}

.iconlin-repeat:before {
	content: "\e6ee";
}

.iconlin-headphones:before {
	content: "\e6ef";
}

.iconlin-headset:before {
	content: "\e6f0";
}

.iconlin-loudspeaker:before {
	content: "\e6f1";
}

.iconlin-equalizer:before {
	content: "\e6f2";
}

.iconlin-theater:before {
	content: "\e6f3";
}

.iconlin-3d-glasses:before {
	content: "\e6f4";
}

.iconlin-ticket:before {
	content: "\e6f5";
}

.iconlin-presentation:before {
	content: "\e6f6";
}

.iconlin-play:before {
	content: "\e6f7";
}

.iconlin-film-play:before {
	content: "\e6f8";
}

.iconlin-clapboard-play:before {
	content: "\e6f9";
}

.iconlin-media:before {
	content: "\e6fa";
}

.iconlin-film:before {
	content: "\e6fb";
}

.iconlin-film2:before {
	content: "\e6fc";
}

.iconlin-surveillance:before {
	content: "\e6fd";
}

.iconlin-surveillance2:before {
	content: "\e6fe";
}

.iconlin-camera:before {
	content: "\e6ff";
}

.iconlin-camera-crossed:before {
	content: "\e700";
}

.iconlin-camera-play:before {
	content: "\e701";
}

.iconlin-time-lapse:before {
	content: "\e702";
}

.iconlin-record:before {
	content: "\e703";
}

.iconlin-camera2:before {
	content: "\e704";
}

.iconlin-camera-flip:before {
	content: "\e705";
}

.iconlin-panorama:before {
	content: "\e706";
}

.iconlin-time-lapse2:before {
	content: "\e707";
}

.iconlin-shutter:before {
	content: "\e708";
}

.iconlin-shutter2:before {
	content: "\e709";
}

.iconlin-face-detection:before {
	content: "\e70a";
}

.iconlin-flare:before {
	content: "\e70b";
}

.iconlin-convex:before {
	content: "\e70c";
}

.iconlin-concave:before {
	content: "\e70d";
}

.iconlin-picture:before {
	content: "\e70e";
}

.iconlin-picture2:before {
	content: "\e70f";
}

.iconlin-picture3:before {
	content: "\e710";
}

.iconlin-pictures:before {
	content: "\e711";
}

.iconlin-book:before {
	content: "\e712";
}

.iconlin-audio-book:before {
	content: "\e713";
}

.iconlin-book2:before {
	content: "\e714";
}

.iconlin-bookmark:before {
	content: "\e715";
}

.iconlin-bookmark2:before {
	content: "\e716";
}

.iconlin-label:before {
	content: "\e717";
}

.iconlin-library:before {
	content: "\e718";
}

.iconlin-library2:before {
	content: "\e719";
}

.iconlin-contacts:before {
	content: "\e71a";
}

.iconlin-profile:before {
	content: "\e71b";
}

.iconlin-portrait:before {
	content: "\e71c";
}

.iconlin-portrait2:before {
	content: "\e71d";
}

.iconlin-user:before {
	content: "\e71e";
}

.iconlin-user-plus:before {
	content: "\e71f";
}

.iconlin-user-minus:before {
	content: "\e720";
}

.iconlin-user-lock:before {
	content: "\e721";
}

.iconlin-users:before {
	content: "\e722";
}

.iconlin-users2:before {
	content: "\e723";
}

.iconlin-users-plus:before {
	content: "\e724";
}

.iconlin-users-minus:before {
	content: "\e725";
}

.iconlin-group-work:before {
	content: "\e726";
}

.iconlin-woman:before {
	content: "\e727";
}

.iconlin-man:before {
	content: "\e728";
}

.iconlin-baby:before {
	content: "\e729";
}

.iconlin-baby2:before {
	content: "\e72a";
}

.iconlin-baby3:before {
	content: "\e72b";
}

.iconlin-baby-bottle:before {
	content: "\e72c";
}

.iconlin-walk:before {
	content: "\e72d";
}

.iconlin-hand-waving:before {
	content: "\e72e";
}

.iconlin-jump:before {
	content: "\e72f";
}

.iconlin-run:before {
	content: "\e730";
}

.iconlin-woman2:before {
	content: "\e731";
}

.iconlin-man2:before {
	content: "\e732";
}

.iconlin-man-woman:before {
	content: "\e733";
}

.iconlin-height:before {
	content: "\e734";
}

.iconlin-weight:before {
	content: "\e735";
}

.iconlin-scale:before {
	content: "\e736";
}

.iconlin-button:before {
	content: "\e737";
}

.iconlin-bow-tie:before {
	content: "\e738";
}

.iconlin-tie:before {
	content: "\e739";
}

.iconlin-socks:before {
	content: "\e73a";
}

.iconlin-shoe:before {
	content: "\e73b";
}

.iconlin-shoes:before {
	content: "\e73c";
}

.iconlin-hat:before {
	content: "\e73d";
}

.iconlin-pants:before {
	content: "\e73e";
}

.iconlin-shorts:before {
	content: "\e73f";
}

.iconlin-flip-flops:before {
	content: "\e740";
}

.iconlin-shirt:before {
	content: "\e741";
}

.iconlin-hanger:before {
	content: "\e742";
}

.iconlin-laundry:before {
	content: "\e743";
}

.iconlin-store:before {
	content: "\e744";
}

.iconlin-haircut:before {
	content: "\e745";
}

.iconlin-store-24:before {
	content: "\e746";
}

.iconlin-barcode:before {
	content: "\e747";
}

.iconlin-barcode2:before {
	content: "\e748";
}

.iconlin-barcode3:before {
	content: "\e749";
}

.iconlin-cashier:before {
	content: "\e74a";
}

.iconlin-bag:before {
	content: "\e74b";
}

.iconlin-bag2:before {
	content: "\e74c";
}

.iconlin-cart:before {
	content: "\e74d";
}

.iconlin-cart-empty:before {
	content: "\e74e";
}

.iconlin-cart-full:before {
	content: "\e74f";
}

.iconlin-cart-plus:before {
	content: "\e750";
}

.iconlin-cart-plus2:before {
	content: "\e751";
}

.iconlin-cart-add:before {
	content: "\e752";
}

.iconlin-cart-remove:before {
	content: "\e753";
}

.iconlin-cart-exchange:before {
	content: "\e754";
}

.iconlin-tag:before {
	content: "\e755";
}

.iconlin-tags:before {
	content: "\e756";
}

.iconlin-receipt:before {
	content: "\e757";
}

.iconlin-wallet:before {
	content: "\e758";
}

.iconlin-credit-card:before {
	content: "\e759";
}

.iconlin-cash-dollar:before {
	content: "\e75a";
}

.iconlin-cash-euro:before {
	content: "\e75b";
}

.iconlin-cash-pound:before {
	content: "\e75c";
}

.iconlin-cash-yen:before {
	content: "\e75d";
}

.iconlin-bag-dollar:before {
	content: "\e75e";
}

.iconlin-bag-euro:before {
	content: "\e75f";
}

.iconlin-bag-pound:before {
	content: "\e760";
}

.iconlin-bag-yen:before {
	content: "\e761";
}

.iconlin-coin-dollar:before {
	content: "\e762";
}

.iconlin-coin-euro:before {
	content: "\e763";
}

.iconlin-coin-pound:before {
	content: "\e764";
}

.iconlin-coin-yen:before {
	content: "\e765";
}

.iconlin-calculator:before {
	content: "\e766";
}

.iconlin-calculator2:before {
	content: "\e767";
}

.iconlin-abacus:before {
	content: "\e768";
}

.iconlin-vault:before {
	content: "\e769";
}

.iconlin-telephone:before {
	content: "\e76a";
}

.iconlin-phone-lock:before {
	content: "\e76b";
}

.iconlin-phone-wave:before {
	content: "\e76c";
}

.iconlin-phone-pause:before {
	content: "\e76d";
}

.iconlin-phone-outgoing:before {
	content: "\e76e";
}

.iconlin-phone-incoming:before {
	content: "\e76f";
}

.iconlin-phone-in-out:before {
	content: "\e770";
}

.iconlin-phone-error:before {
	content: "\e771";
}

.iconlin-phone-sip:before {
	content: "\e772";
}

.iconlin-phone-plus:before {
	content: "\e773";
}

.iconlin-phone-minus:before {
	content: "\e774";
}

.iconlin-voicemail:before {
	content: "\e775";
}

.iconlin-dial:before {
	content: "\e776";
}

.iconlin-telephone2:before {
	content: "\e777";
}

.iconlin-pushpin:before {
	content: "\e778";
}

.iconlin-pushpin2:before {
	content: "\e779";
}

.iconlin-map-marker:before {
	content: "\e77a";
}

.iconlin-map-marker-user:before {
	content: "\e77b";
}

.iconlin-map-marker-down:before {
	content: "\e77c";
}

.iconlin-map-marker-check:before {
	content: "\e77d";
}

.iconlin-map-marker-crossed:before {
	content: "\e77e";
}

.iconlin-radar:before {
	content: "\e77f";
}

.iconlin-compass2:before {
	content: "\e780";
}

.iconlin-map:before {
	content: "\e781";
}

.iconlin-map2:before {
	content: "\e782";
}

.iconlin-location:before {
	content: "\e783";
}

.iconlin-road-sign:before {
	content: "\e784";
}

.iconlin-calendar-empty:before {
	content: "\e785";
}

.iconlin-calendar-check:before {
	content: "\e786";
}

.iconlin-calendar-cross:before {
	content: "\e787";
}

.iconlin-calendar-31:before {
	content: "\e788";
}

.iconlin-calendar-full:before {
	content: "\e789";
}

.iconlin-calendar-insert:before {
	content: "\e78a";
}

.iconlin-calendar-text:before {
	content: "\e78b";
}

.iconlin-calendar-user:before {
	content: "\e78c";
}

.iconlin-mouse:before {
	content: "\e78d";
}

.iconlin-mouse-left:before {
	content: "\e78e";
}

.iconlin-mouse-right:before {
	content: "\e78f";
}

.iconlin-mouse-both:before {
	content: "\e790";
}

.iconlin-keyboard:before {
	content: "\e791";
}

.iconlin-keyboard-up:before {
	content: "\e792";
}

.iconlin-keyboard-down:before {
	content: "\e793";
}

.iconlin-delete:before {
	content: "\e794";
}

.iconlin-spell-check:before {
	content: "\e795";
}

.iconlin-escape:before {
	content: "\e796";
}

.iconlin-enter2:before {
	content: "\e797";
}

.iconlin-screen:before {
	content: "\e798";
}

.iconlin-aspect-ratio:before {
	content: "\e799";
}

.iconlin-signal:before {
	content: "\e79a";
}

.iconlin-signal-lock:before {
	content: "\e79b";
}

.iconlin-signal-80:before {
	content: "\e79c";
}

.iconlin-signal-60:before {
	content: "\e79d";
}

.iconlin-signal-40:before {
	content: "\e79e";
}

.iconlin-signal-20:before {
	content: "\e79f";
}

.iconlin-signal-0:before {
	content: "\e7a0";
}

.iconlin-signal-blocked:before {
	content: "\e7a1";
}

.iconlin-sim:before {
	content: "\e7a2";
}

.iconlin-flash-memory:before {
	content: "\e7a3";
}

.iconlin-usb-drive:before {
	content: "\e7a4";
}

.iconlin-phone:before {
	content: "\e7a5";
}

.iconlin-smartphone:before {
	content: "\e7a6";
}

.iconlin-smartphone-notification:before {
	content: "\e7a7";
}

.iconlin-smartphone-vibration:before {
	content: "\e7a8";
}

.iconlin-smartphone-embed:before {
	content: "\e7a9";
}

.iconlin-smartphone-waves:before {
	content: "\e7aa";
}

.iconlin-tablet:before {
	content: "\e7ab";
}

.iconlin-tablet2:before {
	content: "\e7ac";
}

.iconlin-laptop:before {
	content: "\e7ad";
}

.iconlin-laptop-phone:before {
	content: "\e7ae";
}

.iconlin-desktop:before {
	content: "\e7af";
}

.iconlin-launch:before {
	content: "\e7b0";
}

.iconlin-new-tab:before {
	content: "\e7b1";
}

.iconlin-window:before {
	content: "\e7b2";
}

.iconlin-cable:before {
	content: "\e7b3";
}

.iconlin-cable2:before {
	content: "\e7b4";
}

.iconlin-tv:before {
	content: "\e7b5";
}

.iconlin-radio:before {
	content: "\e7b6";
}

.iconlin-remote-control:before {
	content: "\e7b7";
}

.iconlin-power-switch:before {
	content: "\e7b8";
}

.iconlin-power:before {
	content: "\e7b9";
}

.iconlin-power-crossed:before {
	content: "\e7ba";
}

.iconlin-flash-auto:before {
	content: "\e7bb";
}

.iconlin-lamp:before {
	content: "\e7bc";
}

.iconlin-flashlight:before {
	content: "\e7bd";
}

.iconlin-lampshade:before {
	content: "\e7be";
}

.iconlin-cord:before {
	content: "\e7bf";
}

.iconlin-outlet:before {
	content: "\e7c0";
}

.iconlin-battery-power:before {
	content: "\e7c1";
}

.iconlin-battery-empty:before {
	content: "\e7c2";
}

.iconlin-battery-alert:before {
	content: "\e7c3";
}

.iconlin-battery-error:before {
	content: "\e7c4";
}

.iconlin-battery-low1:before {
	content: "\e7c5";
}

.iconlin-battery-low2:before {
	content: "\e7c6";
}

.iconlin-battery-low3:before {
	content: "\e7c7";
}

.iconlin-battery-mid1:before {
	content: "\e7c8";
}

.iconlin-battery-mid2:before {
	content: "\e7c9";
}

.iconlin-battery-mid3:before {
	content: "\e7ca";
}

.iconlin-battery-full:before {
	content: "\e7cb";
}

.iconlin-battery-charging:before {
	content: "\e7cc";
}

.iconlin-battery-charging2:before {
	content: "\e7cd";
}

.iconlin-battery-charging3:before {
	content: "\e7ce";
}

.iconlin-battery-charging4:before {
	content: "\e7cf";
}

.iconlin-battery-charging5:before {
	content: "\e7d0";
}

.iconlin-battery-charging6:before {
	content: "\e7d1";
}

.iconlin-battery-charging7:before {
	content: "\e7d2";
}

.iconlin-chip:before {
	content: "\e7d3";
}

.iconlin-chip-x64:before {
	content: "\e7d4";
}

.iconlin-chip-x86:before {
	content: "\e7d5";
}

.iconlin-bubble:before {
	content: "\e7d6";
}

.iconlin-bubbles:before {
	content: "\e7d7";
}

.iconlin-bubble-dots:before {
	content: "\e7d8";
}

.iconlin-bubble-alert:before {
	content: "\e7d9";
}

.iconlin-bubble-question:before {
	content: "\e7da";
}

.iconlin-bubble-text:before {
	content: "\e7db";
}

.iconlin-bubble-pencil:before {
	content: "\e7dc";
}

.iconlin-bubble-picture:before {
	content: "\e7dd";
}

.iconlin-bubble-video:before {
	content: "\e7de";
}

.iconlin-bubble-user:before {
	content: "\e7df";
}

.iconlin-bubble-quote:before {
	content: "\e7e0";
}

.iconlin-bubble-heart:before {
	content: "\e7e1";
}

.iconlin-bubble-emoticon:before {
	content: "\e7e2";
}

.iconlin-bubble-attachment:before {
	content: "\e7e3";
}

.iconlin-phone-bubble:before {
	content: "\e7e4";
}

.iconlin-quote-open:before {
	content: "\e7e5";
}

.iconlin-quote-close:before {
	content: "\e7e6";
}

.iconlin-dna:before {
	content: "\e7e7";
}

.iconlin-heart-pulse:before {
	content: "\e7e8";
}

.iconlin-pulse:before {
	content: "\e7e9";
}

.iconlin-syringe:before {
	content: "\e7ea";
}

.iconlin-pills:before {
	content: "\e7eb";
}

.iconlin-first-aid:before {
	content: "\e7ec";
}

.iconlin-lifebuoy:before {
	content: "\e7ed";
}

.iconlin-bandage:before {
	content: "\e7ee";
}

.iconlin-bandages:before {
	content: "\e7ef";
}

.iconlin-thermometer:before {
	content: "\e7f0";
}

.iconlin-microscope:before {
	content: "\e7f1";
}

.iconlin-brain:before {
	content: "\e7f2";
}

.iconlin-beaker:before {
	content: "\e7f3";
}

.iconlin-skull:before {
	content: "\e7f4";
}

.iconlin-bone:before {
	content: "\e7f5";
}

.iconlin-construction:before {
	content: "\e7f6";
}

.iconlin-construction-cone:before {
	content: "\e7f7";
}

.iconlin-pie-chart:before {
	content: "\e7f8";
}

.iconlin-pie-chart2:before {
	content: "\e7f9";
}

.iconlin-graph:before {
	content: "\e7fa";
}

.iconlin-chart-growth:before {
	content: "\e7fb";
}

.iconlin-chart-bars:before {
	content: "\e7fc";
}

.iconlin-chart-settings:before {
	content: "\e7fd";
}

.iconlin-cake:before {
	content: "\e7fe";
}

.iconlin-gift:before {
	content: "\e7ff";
}

.iconlin-balloon:before {
	content: "\e800";
}

.iconlin-rank:before {
	content: "\e801";
}

.iconlin-rank2:before {
	content: "\e802";
}

.iconlin-rank3:before {
	content: "\e803";
}

.iconlin-crown:before {
	content: "\e804";
}

.iconlin-lotus:before {
	content: "\e805";
}

.iconlin-diamond:before {
	content: "\e806";
}

.iconlin-diamond2:before {
	content: "\e807";
}

.iconlin-diamond3:before {
	content: "\e808";
}

.iconlin-diamond4:before {
	content: "\e809";
}

.iconlin-linearicons:before {
	content: "\e80a";
}

.iconlin-teacup:before {
	content: "\e80b";
}

.iconlin-teapot:before {
	content: "\e80c";
}

.iconlin-glass:before {
	content: "\e80d";
}

.iconlin-bottle2:before {
	content: "\e80e";
}

.iconlin-glass-cocktail:before {
	content: "\e80f";
}

.iconlin-glass2:before {
	content: "\e810";
}

.iconlin-dinner:before {
	content: "\e811";
}

.iconlin-dinner2:before {
	content: "\e812";
}

.iconlin-chef:before {
	content: "\e813";
}

.iconlin-scale2:before {
	content: "\e814";
}

.iconlin-egg:before {
	content: "\e815";
}

.iconlin-egg2:before {
	content: "\e816";
}

.iconlin-eggs:before {
	content: "\e817";
}

.iconlin-platter:before {
	content: "\e818";
}

.iconlin-steak:before {
	content: "\e819";
}

.iconlin-hamburger:before {
	content: "\e81a";
}

.iconlin-hotdog:before {
	content: "\e81b";
}

.iconlin-pizza:before {
	content: "\e81c";
}

.iconlin-sausage:before {
	content: "\e81d";
}

.iconlin-chicken:before {
	content: "\e81e";
}

.iconlin-fish:before {
	content: "\e81f";
}

.iconlin-carrot:before {
	content: "\e820";
}

.iconlin-cheese:before {
	content: "\e821";
}

.iconlin-bread:before {
	content: "\e822";
}

.iconlin-ice-cream:before {
	content: "\e823";
}

.iconlin-ice-cream2:before {
	content: "\e824";
}

.iconlin-candy:before {
	content: "\e825";
}

.iconlin-lollipop:before {
	content: "\e826";
}

.iconlin-coffee-bean:before {
	content: "\e827";
}

.iconlin-coffee-cup:before {
	content: "\e828";
}

.iconlin-cherry:before {
	content: "\e829";
}

.iconlin-grapes:before {
	content: "\e82a";
}

.iconlin-citrus:before {
	content: "\e82b";
}

.iconlin-apple:before {
	content: "\e82c";
}

.iconlin-leaf:before {
	content: "\e82d";
}

.iconlin-landscape:before {
	content: "\e82e";
}

.iconlin-pine-tree:before {
	content: "\e82f";
}

.iconlin-tree:before {
	content: "\e830";
}

.iconlin-cactus:before {
	content: "\e831";
}

.iconlin-paw:before {
	content: "\e832";
}

.iconlin-footprint:before {
	content: "\e833";
}

.iconlin-speed-slow:before {
	content: "\e834";
}

.iconlin-speed-medium:before {
	content: "\e835";
}

.iconlin-speed-fast:before {
	content: "\e836";
}

.iconlin-rocket:before {
	content: "\e837";
}

.iconlin-hammer2:before {
	content: "\e838";
}

.iconlin-balance:before {
	content: "\e839";
}

.iconlin-briefcase:before {
	content: "\e83a";
}

.iconlin-luggage-weight:before {
	content: "\e83b";
}

.iconlin-dolly:before {
	content: "\e83c";
}

.iconlin-plane:before {
	content: "\e83d";
}

.iconlin-plane-crossed:before {
	content: "\e83e";
}

.iconlin-helicopter:before {
	content: "\e83f";
}

.iconlin-traffic-lights:before {
	content: "\e840";
}

.iconlin-siren:before {
	content: "\e841";
}

.iconlin-road:before {
	content: "\e842";
}

.iconlin-engine:before {
	content: "\e843";
}

.iconlin-oil-pressure:before {
	content: "\e844";
}

.iconlin-coolant-temperature:before {
	content: "\e845";
}

.iconlin-car-battery:before {
	content: "\e846";
}

.iconlin-gas:before {
	content: "\e847";
}

.iconlin-gallon:before {
	content: "\e848";
}

.iconlin-transmission:before {
	content: "\e849";
}

.iconlin-car:before {
	content: "\e84a";
}

.iconlin-car-wash:before {
	content: "\e84b";
}

.iconlin-car-wash2:before {
	content: "\e84c";
}

.iconlin-bus:before {
	content: "\e84d";
}

.iconlin-bus2:before {
	content: "\e84e";
}

.iconlin-car2:before {
	content: "\e84f";
}

.iconlin-parking:before {
	content: "\e850";
}

.iconlin-car-lock:before {
	content: "\e851";
}

.iconlin-taxi:before {
	content: "\e852";
}

.iconlin-car-siren:before {
	content: "\e853";
}

.iconlin-car-wash3:before {
	content: "\e854";
}

.iconlin-car-wash4:before {
	content: "\e855";
}

.iconlin-ambulance:before {
	content: "\e856";
}

.iconlin-truck:before {
	content: "\e857";
}

.iconlin-trailer:before {
	content: "\e858";
}

.iconlin-scale-truck:before {
	content: "\e859";
}

.iconlin-train:before {
	content: "\e85a";
}

.iconlin-ship:before {
	content: "\e85b";
}

.iconlin-ship2:before {
	content: "\e85c";
}

.iconlin-anchor:before {
	content: "\e85d";
}

.iconlin-boat:before {
	content: "\e85e";
}

.iconlin-bicycle:before {
	content: "\e85f";
}

.iconlin-bicycle2:before {
	content: "\e860";
}

.iconlin-dumbbell:before {
	content: "\e861";
}

.iconlin-bench-press:before {
	content: "\e862";
}

.iconlin-swim:before {
	content: "\e863";
}

.iconlin-football:before {
	content: "\e864";
}

.iconlin-baseball-bat:before {
	content: "\e865";
}

.iconlin-baseball:before {
	content: "\e866";
}

.iconlin-tennis:before {
	content: "\e867";
}

.iconlin-tennis2:before {
	content: "\e868";
}

.iconlin-ping-pong:before {
	content: "\e869";
}

.iconlin-hockey:before {
	content: "\e86a";
}

.iconlin-8ball:before {
	content: "\e86b";
}

.iconlin-bowling:before {
	content: "\e86c";
}

.iconlin-bowling-pins:before {
	content: "\e86d";
}

.iconlin-golf:before {
	content: "\e86e";
}

.iconlin-golf2:before {
	content: "\e86f";
}

.iconlin-archery:before {
	content: "\e870";
}

.iconlin-slingshot:before {
	content: "\e871";
}

.iconlin-soccer:before {
	content: "\e872";
}

.iconlin-basketball:before {
	content: "\e873";
}

.iconlin-cube:before {
	content: "\e874";
}

.iconlin-3d-rotate:before {
	content: "\e875";
}

.iconlin-puzzle:before {
	content: "\e876";
}

.iconlin-glasses:before {
	content: "\e877";
}

.iconlin-glasses2:before {
	content: "\e878";
}

.iconlin-accessibility:before {
	content: "\e879";
}

.iconlin-wheelchair:before {
	content: "\e87a";
}

.iconlin-wall:before {
	content: "\e87b";
}

.iconlin-fence:before {
	content: "\e87c";
}

.iconlin-wall2:before {
	content: "\e87d";
}

.iconlin-icons:before {
	content: "\e87e";
}

.iconlin-resize-handle:before {
	content: "\e87f";
}

.iconlin-icons2:before {
	content: "\e880";
}

.iconlin-select:before {
	content: "\e881";
}

.iconlin-select2:before {
	content: "\e882";
}

.iconlin-site-map:before {
	content: "\e883";
}

.iconlin-earth:before {
	content: "\e884";
}

.iconlin-earth-lock:before {
	content: "\e885";
}

.iconlin-network:before {
	content: "\e886";
}

.iconlin-network-lock:before {
	content: "\e887";
}

.iconlin-planet:before {
	content: "\e888";
}

.iconlin-happy:before {
	content: "\e889";
}

.iconlin-smile:before {
	content: "\e88a";
}

.iconlin-grin:before {
	content: "\e88b";
}

.iconlin-tongue:before {
	content: "\e88c";
}

.iconlin-sad:before {
	content: "\e88d";
}

.iconlin-wink:before {
	content: "\e88e";
}

.iconlin-dream:before {
	content: "\e88f";
}

.iconlin-shocked:before {
	content: "\e890";
}

.iconlin-shocked2:before {
	content: "\e891";
}

.iconlin-tongue2:before {
	content: "\e892";
}

.iconlin-neutral:before {
	content: "\e893";
}

.iconlin-happy-grin:before {
	content: "\e894";
}

.iconlin-cool:before {
	content: "\e895";
}

.iconlin-mad:before {
	content: "\e896";
}

.iconlin-grin-evil:before {
	content: "\e897";
}

.iconlin-evil:before {
	content: "\e898";
}

.iconlin-wow:before {
	content: "\e899";
}

.iconlin-annoyed:before {
	content: "\e89a";
}

.iconlin-wondering:before {
	content: "\e89b";
}

.iconlin-confused:before {
	content: "\e89c";
}

.iconlin-zipped:before {
	content: "\e89d";
}

.iconlin-grumpy:before {
	content: "\e89e";
}

.iconlin-mustache:before {
	content: "\e89f";
}

.iconlin-tombstone-hipster:before {
	content: "\e8a0";
}

.iconlin-tombstone:before {
	content: "\e8a1";
}

.iconlin-ghost:before {
	content: "\e8a2";
}

.iconlin-ghost-hipster:before {
	content: "\e8a3";
}

.iconlin-halloween:before {
	content: "\e8a4";
}

.iconlin-christmas:before {
	content: "\e8a5";
}

.iconlin-easter-egg:before {
	content: "\e8a6";
}

.iconlin-mustache2:before {
	content: "\e8a7";
}

.iconlin-mustache-glasses:before {
	content: "\e8a8";
}

.iconlin-pipe:before {
	content: "\e8a9";
}

.iconlin-alarm:before {
	content: "\e8aa";
}

.iconlin-alarm-add:before {
	content: "\e8ab";
}

.iconlin-alarm-snooze:before {
	content: "\e8ac";
}

.iconlin-alarm-ringing:before {
	content: "\e8ad";
}

.iconlin-bullhorn:before {
	content: "\e8ae";
}

.iconlin-hearing:before {
	content: "\e8af";
}

.iconlin-volume-high:before {
	content: "\e8b0";
}

.iconlin-volume-medium:before {
	content: "\e8b1";
}

.iconlin-volume-low:before {
	content: "\e8b2";
}

.iconlin-volume:before {
	content: "\e8b3";
}

.iconlin-mute:before {
	content: "\e8b4";
}

.iconlin-lan:before {
	content: "\e8b5";
}

.iconlin-lan2:before {
	content: "\e8b6";
}

.iconlin-wifi:before {
	content: "\e8b7";
}

.iconlin-wifi-lock:before {
	content: "\e8b8";
}

.iconlin-wifi-blocked:before {
	content: "\e8b9";
}

.iconlin-wifi-mid:before {
	content: "\e8ba";
}

.iconlin-wifi-low:before {
	content: "\e8bb";
}

.iconlin-wifi-low2:before {
	content: "\e8bc";
}

.iconlin-wifi-alert:before {
	content: "\e8bd";
}

.iconlin-wifi-alert-mid:before {
	content: "\e8be";
}

.iconlin-wifi-alert-low:before {
	content: "\e8bf";
}

.iconlin-wifi-alert-low2:before {
	content: "\e8c0";
}

.iconlin-stream:before {
	content: "\e8c1";
}

.iconlin-stream-check:before {
	content: "\e8c2";
}

.iconlin-stream-error:before {
	content: "\e8c3";
}

.iconlin-stream-alert:before {
	content: "\e8c4";
}

.iconlin-communication:before {
	content: "\e8c5";
}

.iconlin-communication-crossed:before {
	content: "\e8c6";
}

.iconlin-broadcast:before {
	content: "\e8c7";
}

.iconlin-antenna:before {
	content: "\e8c8";
}

.iconlin-satellite:before {
	content: "\e8c9";
}

.iconlin-satellite2:before {
	content: "\e8ca";
}

.iconlin-mic:before {
	content: "\e8cb";
}

.iconlin-mic-mute:before {
	content: "\e8cc";
}

.iconlin-mic2:before {
	content: "\e8cd";
}

.iconlin-spotlights:before {
	content: "\e8ce";
}

.iconlin-hourglass:before {
	content: "\e8cf";
}

.iconlin-loading:before {
	content: "\e8d0";
}

.iconlin-loading2:before {
	content: "\e8d1";
}

.iconlin-loading3:before {
	content: "\e8d2";
}

.iconlin-refresh:before {
	content: "\e8d3";
}

.iconlin-refresh2:before {
	content: "\e8d4";
}

.iconlin-undo:before {
	content: "\e8d5";
}

.iconlin-redo:before {
	content: "\e8d6";
}

.iconlin-jump2:before {
	content: "\e8d7";
}

.iconlin-undo2:before {
	content: "\e8d8";
}

.iconlin-redo2:before {
	content: "\e8d9";
}

.iconlin-sync:before {
	content: "\e8da";
}

.iconlin-repeat-one2:before {
	content: "\e8db";
}

.iconlin-sync-crossed:before {
	content: "\e8dc";
}

.iconlin-sync2:before {
	content: "\e8dd";
}

.iconlin-repeat-one3:before {
	content: "\e8de";
}

.iconlin-sync-crossed2:before {
	content: "\e8df";
}

.iconlin-return:before {
	content: "\e8e0";
}

.iconlin-return2:before {
	content: "\e8e1";
}

.iconlin-refund:before {
	content: "\e8e2";
}

.iconlin-history:before {
	content: "\e8e3";
}

.iconlin-history2:before {
	content: "\e8e4";
}

.iconlin-self-timer:before {
	content: "\e8e5";
}

.iconlin-clock:before {
	content: "\e8e6";
}

.iconlin-clock2:before {
	content: "\e8e7";
}

.iconlin-clock3:before {
	content: "\e8e8";
}

.iconlin-watch:before {
	content: "\e8e9";
}

.iconlin-alarm2:before {
	content: "\e8ea";
}

.iconlin-alarm-add2:before {
	content: "\e8eb";
}

.iconlin-alarm-remove:before {
	content: "\e8ec";
}

.iconlin-alarm-check:before {
	content: "\e8ed";
}

.iconlin-alarm-error:before {
	content: "\e8ee";
}

.iconlin-timer:before {
	content: "\e8ef";
}

.iconlin-timer-crossed:before {
	content: "\e8f0";
}

.iconlin-timer2:before {
	content: "\e8f1";
}

.iconlin-timer-crossed2:before {
	content: "\e8f2";
}

.iconlin-download:before {
	content: "\e8f3";
}

.iconlin-upload:before {
	content: "\e8f4";
}

.iconlin-download2:before {
	content: "\e8f5";
}

.iconlin-upload2:before {
	content: "\e8f6";
}

.iconlin-enter-up:before {
	content: "\e8f7";
}

.iconlin-enter-down:before {
	content: "\e8f8";
}

.iconlin-enter-left:before {
	content: "\e8f9";
}

.iconlin-enter-right:before {
	content: "\e8fa";
}

.iconlin-exit-up:before {
	content: "\e8fb";
}

.iconlin-exit-down:before {
	content: "\e8fc";
}

.iconlin-exit-left:before {
	content: "\e8fd";
}

.iconlin-exit-right:before {
	content: "\e8fe";
}

.iconlin-enter-up2:before {
	content: "\e8ff";
}

.iconlin-enter-down2:before {
	content: "\e900";
}

.iconlin-enter-vertical:before {
	content: "\e901";
}

.iconlin-enter-left2:before {
	content: "\e902";
}

.iconlin-enter-right2:before {
	content: "\e903";
}

.iconlin-enter-horizontal:before {
	content: "\e904";
}

.iconlin-exit-up2:before {
	content: "\e905";
}

.iconlin-exit-down2:before {
	content: "\e906";
}

.iconlin-exit-left2:before {
	content: "\e907";
}

.iconlin-exit-right2:before {
	content: "\e908";
}

.iconlin-cli:before {
	content: "\e909";
}

.iconlin-bug:before {
	content: "\e90a";
}

.iconlin-code:before {
	content: "\e90b";
}

.iconlin-file-code:before {
	content: "\e90c";
}

.iconlin-file-image:before {
	content: "\e90d";
}

.iconlin-file-zip:before {
	content: "\e90e";
}

.iconlin-file-audio:before {
	content: "\e90f";
}

.iconlin-file-video:before {
	content: "\e910";
}

.iconlin-file-preview:before {
	content: "\e911";
}

.iconlin-file-charts:before {
	content: "\e912";
}

.iconlin-file-stats:before {
	content: "\e913";
}

.iconlin-file-spreadsheet:before {
	content: "\e914";
}

.iconlin-link:before {
	content: "\e915";
}

.iconlin-unlink:before {
	content: "\e916";
}

.iconlin-link2:before {
	content: "\e917";
}

.iconlin-unlink2:before {
	content: "\e918";
}

.iconlin-thumbs-up:before {
	content: "\e919";
}

.iconlin-thumbs-down:before {
	content: "\e91a";
}

.iconlin-thumbs-up2:before {
	content: "\e91b";
}

.iconlin-thumbs-down2:before {
	content: "\e91c";
}

.iconlin-thumbs-up3:before {
	content: "\e91d";
}

.iconlin-thumbs-down3:before {
	content: "\e91e";
}

.iconlin-share:before {
	content: "\e91f";
}

.iconlin-share2:before {
	content: "\e920";
}

.iconlin-share3:before {
	content: "\e921";
}

.iconlin-magnifier:before {
	content: "\e922";
}

.iconlin-file-search:before {
	content: "\e923";
}

.iconlin-find-replace:before {
	content: "\e924";
}

.iconlin-zoom-in:before {
	content: "\e925";
}

.iconlin-zoom-out:before {
	content: "\e926";
}

.iconlin-loupe:before {
	content: "\e927";
}

.iconlin-loupe-zoom-in:before {
	content: "\e928";
}

.iconlin-loupe-zoom-out:before {
	content: "\e929";
}

.iconlin-cross:before {
	content: "\e92a";
}

.iconlin-menu:before {
	content: "\e92b";
}

.iconlin-list:before {
	content: "\e92c";
}

.iconlin-list2:before {
	content: "\e92d";
}

.iconlin-list3:before {
	content: "\e92e";
}

.iconlin-menu2:before {
	content: "\e92f";
}

.iconlin-list4:before {
	content: "\e930";
}

.iconlin-menu3:before {
	content: "\e931";
}

.iconlin-exclamation:before {
	content: "\e932";
}

.iconlin-question:before {
	content: "\e933";
}

.iconlin-check:before {
	content: "\e934";
}

.iconlin-cross2:before {
	content: "\e935";
}

.iconlin-plus:before {
	content: "\e936";
}

.iconlin-minus:before {
	content: "\e937";
}

.iconlin-percent:before {
	content: "\e938";
}

.iconlin-chevron-up:before {
	content: "\e939";
}

.iconlin-chevron-down:before {
	content: "\e93a";
}

.iconlin-chevron-left:before {
	content: "\e93b";
}

.iconlin-chevron-right:before {
	content: "\e93c";
}

.iconlin-chevrons-expand-vertical:before {
	content: "\e93d";
}

.iconlin-chevrons-expand-horizontal:before {
	content: "\e93e";
}

.iconlin-chevrons-contract-vertical:before {
	content: "\e93f";
}

.iconlin-chevrons-contract-horizontal:before {
	content: "\e940";
}

.iconlin-arrow-up:before {
	content: "\e941";
}

.iconlin-arrow-down:before {
	content: "\e942";
}

.iconlin-arrow-left:before {
	content: "\e943";
}

.iconlin-arrow-right:before {
	content: "\e944";
}

.iconlin-arrow-up-right:before {
	content: "\e945";
}

.iconlin-arrows-merge:before {
	content: "\e946";
}

.iconlin-arrows-split:before {
	content: "\e947";
}

.iconlin-arrow-divert:before {
	content: "\e948";
}

.iconlin-arrow-return:before {
	content: "\e949";
}

.iconlin-expand:before {
	content: "\e94a";
}

.iconlin-contract:before {
	content: "\e94b";
}

.iconlin-expand2:before {
	content: "\e94c";
}

.iconlin-contract2:before {
	content: "\e94d";
}

.iconlin-move:before {
	content: "\e94e";
}

.iconlin-tab:before {
	content: "\e94f";
}

.iconlin-arrow-wave:before {
	content: "\e950";
}

.iconlin-expand3:before {
	content: "\e951";
}

.iconlin-expand4:before {
	content: "\e952";
}

.iconlin-contract3:before {
	content: "\e953";
}

.iconlin-notification:before {
	content: "\e954";
}

.iconlin-warning:before {
	content: "\e955";
}

.iconlin-notification-circle:before {
	content: "\e956";
}

.iconlin-question-circle:before {
	content: "\e957";
}

.iconlin-menu-circle:before {
	content: "\e958";
}

.iconlin-checkmark-circle:before {
	content: "\e959";
}

.iconlin-cross-circle:before {
	content: "\e95a";
}

.iconlin-plus-circle:before {
	content: "\e95b";
}

.iconlin-circle-minus:before {
	content: "\e95c";
}

.iconlin-percent-circle:before {
	content: "\e95d";
}

.iconlin-arrow-up-circle:before {
	content: "\e95e";
}

.iconlin-arrow-down-circle:before {
	content: "\e95f";
}

.iconlin-arrow-left-circle:before {
	content: "\e960";
}

.iconlin-arrow-right-circle:before {
	content: "\e961";
}

.iconlin-chevron-up-circle:before {
	content: "\e962";
}

.iconlin-chevron-down-circle:before {
	content: "\e963";
}

.iconlin-chevron-left-circle:before {
	content: "\e964";
}

.iconlin-chevron-right-circle:before {
	content: "\e965";
}

.iconlin-backward-circle:before {
	content: "\e966";
}

.iconlin-first-circle:before {
	content: "\e967";
}

.iconlin-previous-circle:before {
	content: "\e968";
}

.iconlin-stop-circle:before {
	content: "\e969";
}

.iconlin-play-circle:before {
	content: "\e96a";
}

.iconlin-pause-circle:before {
	content: "\e96b";
}

.iconlin-next-circle:before {
	content: "\e96c";
}

.iconlin-last-circle:before {
	content: "\e96d";
}

.iconlin-forward-circle:before {
	content: "\e96e";
}

.iconlin-eject-circle:before {
	content: "\e96f";
}

.iconlin-crop:before {
	content: "\e970";
}

.iconlin-frame-expand:before {
	content: "\e971";
}

.iconlin-frame-contract:before {
	content: "\e972";
}

.iconlin-focus:before {
	content: "\e973";
}

.iconlin-transform:before {
	content: "\e974";
}

.iconlin-grid:before {
	content: "\e975";
}

.iconlin-grid-crossed:before {
	content: "\e976";
}

.iconlin-layers:before {
	content: "\e977";
}

.iconlin-layers-crossed:before {
	content: "\e978";
}

.iconlin-toggle:before {
	content: "\e979";
}

.iconlin-rulers:before {
	content: "\e97a";
}

.iconlin-ruler:before {
	content: "\e97b";
}

.iconlin-funnel:before {
	content: "\e97c";
}

.iconlin-flip-horizontal:before {
	content: "\e97d";
}

.iconlin-flip-vertical:before {
	content: "\e97e";
}

.iconlin-flip-horizontal2:before {
	content: "\e97f";
}

.iconlin-flip-vertical2:before {
	content: "\e980";
}

.iconlin-angle:before {
	content: "\e981";
}

.iconlin-angle2:before {
	content: "\e982";
}

.iconlin-subtract:before {
	content: "\e983";
}

.iconlin-combine:before {
	content: "\e984";
}

.iconlin-intersect:before {
	content: "\e985";
}

.iconlin-exclude:before {
	content: "\e986";
}

.iconlin-align-center-vertical:before {
	content: "\e987";
}

.iconlin-align-right:before {
	content: "\e988";
}

.iconlin-align-bottom:before {
	content: "\e989";
}

.iconlin-align-left:before {
	content: "\e98a";
}

.iconlin-align-center-horizontal:before {
	content: "\e98b";
}

.iconlin-align-top:before {
	content: "\e98c";
}

.iconlin-square:before {
	content: "\e98d";
}

.iconlin-plus-square:before {
	content: "\e98e";
}

.iconlin-minus-square:before {
	content: "\e98f";
}

.iconlin-percent-square:before {
	content: "\e990";
}

.iconlin-arrow-up-square:before {
	content: "\e991";
}

.iconlin-arrow-down-square:before {
	content: "\e992";
}

.iconlin-arrow-left-square:before {
	content: "\e993";
}

.iconlin-arrow-right-square:before {
	content: "\e994";
}

.iconlin-chevron-up-square:before {
	content: "\e995";
}

.iconlin-chevron-down-square:before {
	content: "\e996";
}

.iconlin-chevron-left-square:before {
	content: "\e997";
}

.iconlin-chevron-right-square:before {
	content: "\e998";
}

.iconlin-check-square:before {
	content: "\e999";
}

.iconlin-cross-square:before {
	content: "\e99a";
}

.iconlin-menu-square:before {
	content: "\e99b";
}

.iconlin-prohibited:before {
	content: "\e99c";
}

.iconlin-circle:before {
	content: "\e99d";
}

.iconlin-radio-button:before {
	content: "\e99e";
}

.iconlin-ligature:before {
	content: "\e99f";
}

.iconlin-text-format:before {
	content: "\e9a0";
}

.iconlin-text-format-remove:before {
	content: "\e9a1";
}

.iconlin-text-size:before {
	content: "\e9a2";
}

.iconlin-bold:before {
	content: "\e9a3";
}

.iconlin-italic:before {
	content: "\e9a4";
}

.iconlin-underline:before {
	content: "\e9a5";
}

.iconlin-strikethrough:before {
	content: "\e9a6";
}

.iconlin-highlight:before {
	content: "\e9a7";
}

.iconlin-text-align-left:before {
	content: "\e9a8";
}

.iconlin-text-align-center:before {
	content: "\e9a9";
}

.iconlin-text-align-right:before {
	content: "\e9aa";
}

.iconlin-text-align-justify:before {
	content: "\e9ab";
}

.iconlin-line-spacing:before {
	content: "\e9ac";
}

.iconlin-indent-increase:before {
	content: "\e9ad";
}

.iconlin-indent-decrease:before {
	content: "\e9ae";
}

.iconlin-text-wrap:before {
	content: "\e9af";
}

.iconlin-pilcrow:before {
	content: "\e9b0";
}

.iconlin-direction-ltr:before {
	content: "\e9b1";
}

.iconlin-direction-rtl:before {
	content: "\e9b2";
}

.iconlin-page-break:before {
	content: "\e9b3";
}

.iconlin-page-break2:before {
	content: "\e9b4";
}

.iconlin-sort-alpha-asc:before {
	content: "\e9b5";
}

.iconlin-sort-alpha-desc:before {
	content: "\e9b6";
}

.iconlin-sort-numeric-asc:before {
	content: "\e9b7";
}

.iconlin-sort-numeric-desc:before {
	content: "\e9b8";
}

.iconlin-sort-amount-asc:before {
	content: "\e9b9";
}

.iconlin-sort-amount-desc:before {
	content: "\e9ba";
}

.iconlin-sort-time-asc:before {
	content: "\e9bb";
}

.iconlin-sort-time-desc:before {
	content: "\e9bc";
}

.iconlin-sigma:before {
	content: "\e9bd";
}

.iconlin-pencil-line:before {
	content: "\e9be";
}

.iconlin-hand:before {
	content: "\e9bf";
}

.iconlin-pointer-up:before {
	content: "\e9c0";
}

.iconlin-pointer-right:before {
	content: "\e9c1";
}

.iconlin-pointer-down:before {
	content: "\e9c2";
}

.iconlin-pointer-left:before {
	content: "\e9c3";
}

.iconlin-finger-tap:before {
	content: "\e9c4";
}

.iconlin-fingers-tap:before {
	content: "\e9c5";
}

.iconlin-reminder:before {
	content: "\e9c6";
}

.iconlin-fingers-crossed:before {
	content: "\e9c7";
}

.iconlin-fingers-victory:before {
	content: "\e9c8";
}

.iconlin-gesture-zoom:before {
	content: "\e9c9";
}

.iconlin-gesture-pinch:before {
	content: "\e9ca";
}

.iconlin-fingers-scroll-horizontal:before {
	content: "\e9cb";
}

.iconlin-fingers-scroll-vertical:before {
	content: "\e9cc";
}

.iconlin-fingers-scroll-left:before {
	content: "\e9cd";
}

.iconlin-fingers-scroll-right:before {
	content: "\e9ce";
}

.iconlin-hand2:before {
	content: "\e9cf";
}

.iconlin-pointer-up2:before {
	content: "\e9d0";
}

.iconlin-pointer-right2:before {
	content: "\e9d1";
}

.iconlin-pointer-down2:before {
	content: "\e9d2";
}

.iconlin-pointer-left2:before {
	content: "\e9d3";
}

.iconlin-finger-tap2:before {
	content: "\e9d4";
}

.iconlin-fingers-tap2:before {
	content: "\e9d5";
}

.iconlin-reminder2:before {
	content: "\e9d6";
}

.iconlin-gesture-zoom2:before {
	content: "\e9d7";
}

.iconlin-gesture-pinch2:before {
	content: "\e9d8";
}

.iconlin-fingers-scroll-horizontal2:before {
	content: "\e9d9";
}

.iconlin-fingers-scroll-vertical2:before {
	content: "\e9da";
}

.iconlin-fingers-scroll-left2:before {
	content: "\e9db";
}

.iconlin-fingers-scroll-right2:before {
	content: "\e9dc";
}

.iconlin-fingers-scroll-vertical3:before {
	content: "\e9dd";
}

.iconlin-border-style:before {
	content: "\e9de";
}

.iconlin-border-all:before {
	content: "\e9df";
}

.iconlin-border-outer:before {
	content: "\e9e0";
}

.iconlin-border-inner:before {
	content: "\e9e1";
}

.iconlin-border-top:before {
	content: "\e9e2";
}

.iconlin-border-horizontal:before {
	content: "\e9e3";
}

.iconlin-border-bottom:before {
	content: "\e9e4";
}

.iconlin-border-left:before {
	content: "\e9e5";
}

.iconlin-border-vertical:before {
	content: "\e9e6";
}

.iconlin-border-right:before {
	content: "\e9e7";
}

.iconlin-border-none:before {
	content: "\e9e8";
}

.iconlin-ellipsis:before {
	content: "\e9e9";
}

.iconlin-uni21:before {
	content: "\21";
}

.iconlin-uni22:before {
	content: "\22";
}

.iconlin-uni23:before {
	content: "\23";
}

.iconlin-uni24:before {
	content: "\24";
}

.iconlin-uni25:before {
	content: "\25";
}

.iconlin-uni26:before {
	content: "\26";
}

.iconlin-uni27:before {
	content: "\27";
}

.iconlin-uni28:before {
	content: "\28";
}

.iconlin-uni29:before {
	content: "\29";
}

.iconlin-uni2a:before {
	content: "\2a";
}

.iconlin-uni2b:before {
	content: "\2b";
}

.iconlin-uni2c:before {
	content: "\2c";
}

.iconlin-uni2d:before {
	content: "\2d";
}

.iconlin-uni2e:before {
	content: "\2e";
}

.iconlin-uni2f:before {
	content: "\2f";
}

.iconlin-uni30:before {
	content: "\30";
}

.iconlin-uni31:before {
	content: "\31";
}

.iconlin-uni32:before {
	content: "\32";
}

.iconlin-uni33:before {
	content: "\33";
}

.iconlin-uni34:before {
	content: "\34";
}

.iconlin-uni35:before {
	content: "\35";
}

.iconlin-uni36:before {
	content: "\36";
}

.iconlin-uni37:before {
	content: "\37";
}

.iconlin-uni38:before {
	content: "\38";
}

.iconlin-uni39:before {
	content: "\39";
}

.iconlin-uni3a:before {
	content: "\3a";
}

.iconlin-uni3b:before {
	content: "\3b";
}

.iconlin-uni3c:before {
	content: "\3c";
}

.iconlin-uni3d:before {
	content: "\3d";
}

.iconlin-uni3e:before {
	content: "\3e";
}

.iconlin-uni3f:before {
	content: "\3f";
}

.iconlin-uni40:before {
	content: "\40";
}

.iconlin-uni41:before {
	content: "\41";
}

.iconlin-uni42:before {
	content: "\42";
}

.iconlin-uni43:before {
	content: "\43";
}

.iconlin-uni44:before {
	content: "\44";
}

.iconlin-uni45:before {
	content: "\45";
}

.iconlin-uni46:before {
	content: "\46";
}

.iconlin-uni47:before {
	content: "\47";
}

.iconlin-uni48:before {
	content: "\48";
}

.iconlin-uni49:before {
	content: "\49";
}

.iconlin-uni4a:before {
	content: "\4a";
}

.iconlin-uni4b:before {
	content: "\4b";
}

.iconlin-uni4c:before {
	content: "\4c";
}

.iconlin-uni4d:before {
	content: "\4d";
}

.iconlin-uni4e:before {
	content: "\4e";
}

.iconlin-uni4f:before {
	content: "\4f";
}

.iconlin-uni50:before {
	content: "\50";
}

.iconlin-uni51:before {
	content: "\51";
}

.iconlin-uni52:before {
	content: "\52";
}

.iconlin-uni53:before {
	content: "\53";
}

.iconlin-uni54:before {
	content: "\54";
}

.iconlin-uni55:before {
	content: "\55";
}

.iconlin-uni56:before {
	content: "\56";
}

.iconlin-uni57:before {
	content: "\57";
}

.iconlin-uni58:before {
	content: "\58";
}

.iconlin-uni59:before {
	content: "\59";
}

.iconlin-uni5a:before {
	content: "\5a";
}

.iconlin-uni5b:before {
	content: "\5b";
}

.iconlin-uni5c:before {
	content: "\5c";
}

.iconlin-uni5d:before {
	content: "\5d";
}

.iconlin-uni5e:before {
	content: "\5e";
}

.iconlin-uni5f:before {
	content: "\5f";
}

.iconlin-uni60:before {
	content: "\60";
}

.iconlin-uni61:before {
	content: "\61";
}

.iconlin-uni62:before {
	content: "\62";
}

.iconlin-uni63:before {
	content: "\63";
}

.iconlin-uni64:before {
	content: "\64";
}

.iconlin-uni65:before {
	content: "\65";
}

.iconlin-uni66:before {
	content: "\66";
}

.iconlin-uni67:before {
	content: "\67";
}

.iconlin-uni68:before {
	content: "\68";
}

.iconlin-uni69:before {
	content: "\69";
}

.iconlin-uni6a:before {
	content: "\6a";
}

.iconlin-uni6b:before {
	content: "\6b";
}

.iconlin-uni6c:before {
	content: "\6c";
}

.iconlin-uni6d:before {
	content: "\6d";
}

.iconlin-uni6e:before {
	content: "\6e";
}

.iconlin-uni6f:before {
	content: "\6f";
}

.iconlin-uni70:before {
	content: "\70";
}

.iconlin-uni71:before {
	content: "\71";
}

.iconlin-uni72:before {
	content: "\72";
}

.iconlin-uni73:before {
	content: "\73";
}

.iconlin-uni74:before {
	content: "\74";
}

.iconlin-uni75:before {
	content: "\75";
}

.iconlin-uni76:before {
	content: "\76";
}

.iconlin-uni77:before {
	content: "\77";
}

.iconlin-uni78:before {
	content: "\78";
}

.iconlin-uni79:before {
	content: "\79";
}

.iconlin-uni7a:before {
	content: "\7a";
}

.iconlin-uni7b:before {
	content: "\7b";
}

.iconlin-uni7c:before {
	content: "\7c";
}

.iconlin-uni7d:before {
	content: "\7d";
}

.iconlin-uni7e:before {
	content: "\7e";
}

.iconlin-copyright:before {
	content: "\a9";
}