@import 'variables';

@-moz-document url-prefix() {
	.shop-toolbar .woocommerce-ordering .select2-container .select2-selection,
	.shop-toolbar,
	.woocommerce .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-name,
	.woocommerce div.product .product_meta .posted_in a,
	.woocommerce div.product .product_meta .tagged_as a,
	.woocommerce div.product .product_meta .posted_in span,
	.woocommerce div.product .product_meta .tagged_as span,
	.woocommerce div.product .product_meta .sku_wrapper .sku,
	.footer-layout-8 .menu li a,
	.footer-layout-8 .widget .widget-title {
		font-weight: 300;
	}
}

.header-left-small {
	&.header-left-style-2 .site-header {
		height: 100%;
		margin-top: 0;

		.menu-footer .socials {
			display: none;
		}
	}

}

@media (min-width: 767px) {
	.woocommerce:not(.shop-full-width) {
		&.sidebar-content,
		&.content-sidebar {
			&.shop-view-list ul.products li.product {
				width: 100%;

				.product-content-thumbnails {
					width: 30%;

					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						left: 30%;
					}
				}
			}
		}
	}
}

@media (max-width: 1920px) and (min-width: 1551px) {
	.boxed {
		&.product-item-layout-1 {
			.product-carousel.carousel-style1.columns-5 ul.products li.product {
				.product-inner .footer-product .footer-product-button {
					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						.add-to-cart-title {
							display: none;
						}
					}

					.added_to_cart.wc-forward {
						font-size: 0;

						&:before {
							font-size: 22px;
							top: 50%;
							transform: translateY(-50%);
							display: block;
						}
					}
				}
			}

		}
	}
}

@media (max-width: 1920px) and (min-width: 1501px) {
	.boxed {
		&.product-item-layout-3 ul.products li.product.fd-col-4 .product-content-thumbnails {
			.btn-add-to-cart,
			.yith-wcwl-add-to-wishlist,
			.product-quick-view,
			.added_to_cart.wc-forward,
			.compare-button a {
				width: 40px;
				height: 40px;
				line-height: 40px;
			}

			.yith-wcwl-add-to-wishlist {
				.yith-wcwl-add-button a:before,
				.yith-wcwl-wishlistaddedbrowse a:before,
				.yith-wcwl-wishlistexistsbrowse a:before {
					width: 40px;
					height: 40px;
					line-height: 40px;
				}
			}
		}
	}
}

@media (max-width: 1920px) and (min-width: 1025px) {
	.product-item-layout-1 {
		.mrbara-products-ads {
			ul.products li.product.fd-col-4 {
				.product-inner .footer-product .footer-product-button {
					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						.add-to-cart-title {
							display: none;
						}
					}

					.added_to_cart.wc-forward {
						font-size: 0;

						&:before {
							font-size: 22px;
							top: 50%;
							transform: translateY(-50%);
							display: block;
						}
					}
				}
			}
		}
	}

	.boxed.shop-full-width {
		&.sidebar-content,
		&.content-sidebar {
			&.shop-view-grid ul.products li.product {
				width: 33.33%;

				&.first {
					clear: none;
				}

				&:nth-child( 3n +1 ) {
					clear: both;
				}
			}
		}
	}
}

@media (max-width: 1920px) and (min-width: 1761px) {
	.boxed.shop-full-width.shop-view-grid {
		&.sidebar-content,
		&.content-sidebar {
			.primary-sidebar {
				width: 18%;
			}

			.content-area {
				width: 82%;
			}

			.widget ul.product_list_widget li img {
				width: 60px;
			}
		}
	}

	.boxed.shop-full-width.shop-view-list {
		&.sidebar-content,
		&.content-sidebar {
			.primary-sidebar {
				width: 25%;
			}

			.content-area {
				width: 75%;
			}

		}
	}
}

@media (max-width: 1919px) and (min-width: 1201px) {
	.woocommerce.header-top-style-2 .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-control .filter-slider {
		width: 200px;
	}
}


@media (max-width: 1900px) {
	.header-top-style-1 {
		.header-main {
			.menu-logo {
				position: static;
				width: 10%;
				float: left;
			}

			.menu-main {
				width: 70%;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
			}

			.menu-extra {
				width: 20%;
				float: right;
				position: static;
			}
		}
	}
}

@media (max-width: 1760px ) and (min-width: 1201px) {
	.shop-full-width {
		&.sidebar-content,
		&.content-sidebar {

			&.shop-view-grid {
				ul.products li.product {
					&.fd-col-4 {
						width: 33.33%;

						&.first {
							clear: none;
						}

						&:nth-child( 3n +1 ) {
							clear: both;
						}
					}

				}
			}

			.shop-sidebar {
				width: 22%;
			}

			.content-area {
				width: 78%;
				padding-left: 50px;
			}
		}

		&.content-sidebar {
			.content-area {
				padding-left: 15px;
				padding-right: 50px;
			}
		}
	}

	.header-top-style-5 .site-header > .mr-container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer-layout-6 > .mr-container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}

	.header-search-style-2 .site-header .menu-extra .extra-menu-item.menu-item-search.show-search-form .search-form {
		width: 400px;
	}
}

@media (max-width: 1600px ) and (min-width: 992px) {

	.page-header-shop-layout-4.sidebar-content.shop-full-width .site-banner .col-bread {
		padding-left: 50px;
		width: 75%;
		float: right;
	}

	.header-top-style-2 {
		&.product-item-layout-6 {
			ul.products li.product {
				.product-inner .footer-product .footer-product-button {

					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						width: 46px;
						padding: 0;
						text-align: center;

						i {
							left: 18px;
						}
					}

					.add-to-cart-title {
						display: none;
					}

					.added_to_cart.wc-forward {
						font-size: 0;

						&:before {
							font-size: 14px;
							top: 50%;
							transform: translateY(-50%);
							display: block;
						}
					}

				}
			}
		}
	}

	.woocommerce .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-control .filter-slider {
		width: 200px;
	}

}

@media (max-width: 1600px ) {
	.boxed.boxed-w1470 {
		.site,
		.top-promotion {
			max-width: 1270px;
		}
	}

	.header-sticky.boxed.boxed-w1470 .site-header.minimized {
		max-width: 1270px;
	}

}

@media (max-width: 1400px) and (min-width: 1025px) {
	.shop-full-width {
		&.sidebar-content,
		&.content-sidebar {
			&.product-item-layout-4 {
				&.woocommerce ul.products li.product {
					.product-inner .footer-product .footer-product-button {

						.btn-add-to-cart,
						.added_to_cart.wc-forward {
							width: 46px;
							padding: 0;
							text-align: center;

							i {
								left: 18px;
							}
						}

						.add-to-cart-title {
							display: none;
						}

						.added_to_cart.wc-forward {
							font-size: 0;

							&:before {
								font-size: 22px;
								top: 50%;
								transform: translateY(-50%);
								display: block;
								left: 18px;
							}
						}

					}
				}
			}

			&.product-item-layout-6 {
				&.woocommerce ul.products li.product {
					.product-inner .footer-product .footer-product-button {

						.btn-add-to-cart,
						.added_to_cart.wc-forward {
							width: 46px;
							padding: 0;
							text-align: center;

							i {
								left: 18px;
							}
						}

						.add-to-cart-title {
							display: none;
						}

						.added_to_cart.wc-forward {
							font-size: 0;

							&:before {
								font-size: 14px;
								top: 50%;
								transform: translateY(-50%);
								display: block;
							}
						}

					}
				}
			}

		}

	}

	.sidebar-content,
	.content-sidebar {
		&.post-type-archive-product {
			&.product-item-layout-4 {
				&.woocommerce ul.products li.product {
					.product-inner .footer-product .footer-product-button {

						.btn-add-to-cart,
						.added_to_cart.wc-forward {
							width: 46px;
							padding: 0;
							text-align: center;

							i {
								left: 18px;
							}
						}

						.add-to-cart-title {
							display: none;
						}

						.added_to_cart.wc-forward {
							font-size: 0;

							&:before {
								font-size: 22px;
								top: 50%;
								transform: translateY(-50%);
								display: block;
								left: 18px;

							}
						}

					}
				}
			}
		}
	}

	.header-top-style-2 {
		&.product-item-layout-4 {
			&.woocommerce ul.products li.product {
				.product-inner .footer-product .footer-product-button {

					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						width: 46px;
						padding: 0;
						text-align: center;

						i {
							left: 18px;
						}
					}

					.add-to-cart-title {
						display: none;
					}

					.added_to_cart.wc-forward {
						font-size: 0;

						&:before {
							font-size: 22px;
							top: 50%;
							transform: translateY(-50%);
							display: block;
							left: 18px;
						}
					}

				}
			}
		}
	}

	.header-search-style-2 .site-header .menu-extra .extra-menu-item.menu-item-search.show-search-form .search-form {
		width: 300px;
	}

}

@media (max-width: 1650px) {
	.shop-full-width {
		&.shop-view-list {
			ul.products li.product {
				width: 100%;
				.product-content-thumbnails {
					width: 30%;

					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						left: 30%;
					}
				}

			}
		}

	}
}

@media (max-width: 1710px) and (min-width: 992px) {
	.header-top-style-1 {
		.header-main {
			.menu-extra {
				.extra-menu-item.menu-item-account {
					> a {

						img {
							margin-right: 0;
						}

						&:after {
							display: none;
						}

						.t-text span {
							display: none;
						}

						&.item-register {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1620px) and (min-width: 992px) {
	.page-template-template-home-width-1620 {
		.site-content {
			& > .container-fluid {
				width: 100%;
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		&.header-top-style-6 .site-header > .mr-container-fluid {
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}

		.footer-layout-4 {
			&.footer-width-2,
			&.footer-width-3 {
				> .mr-container-fluid {
					width: 100%;
					padding-left: 30px;
					padding-right: 30px;
				}

			}

		}
	}

}

@media (max-width: 1550px) {

	.header-top-style-5.header-top-normal .site-header {
		> .mr-container-fluid {
			padding-left: 30px;
			padding-right: 30px;
		}

		.navbars-icon .navbars-line {
			right: 0;
			left: auto;
		}
	}

	.footer-layout-3 > .container-fluid {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
	}

}

@media (max-width: 1500px) {
	.mr-container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}

	.header-top-style-4 {
		.header-main {
			.menu-logo {
				position: static;
				width: 10%;
				float: left;
			}

			.menu-main {
				width: 65%;
				float: left;
				padding-left: 30px;
				padding-right: 15px;
			}

			.menu-extra {
				width: 25%;
				float: right;
				position: static;
			}
		}
	}

	.header-top-style-6 {
		.site-header > .mr-container-fluid {
			padding-right: 30px;
			padding-left: 30px;
		}
	}

	.header-top-style-2 {
		.container {
			width: 100%;
			padding: 0 30px;

			.container {
				padding: 0 15px;
			}
		}
	}

	.header-top-style-5 .site-header,
	.footer-layout-6,
	.footer-layout-5 {
		> .mr-container-fluid {
			padding-right: 30px;
			padding-left: 30px;
		}
	}

	.footer-layout-3 > .container-fluid {
		padding-right: 30px;
		padding-left: 30px;
		width: 100%;
	}

	.page-template-template-home-boxed-content .footer-layout-3 > .container-fluid {
		padding-right: 50px;
		padding-left: 50px;

		.socials h2 {
			padding-right: 30px;
		}
	}

	.footer-layout-1 {
		overflow: hidden;
		.footer-main {
			.footer-logo {
				position: static;
				width: 10%;
				float: left;
			}

			.footer-widget-main {
				width: 75%;
				float: left;
				padding-left: 30px;
				padding-right: 15px;
			}

			.footer-extras {
				width: 15%;
				float: right;
				position: static;
			}
		}

		&.footer-widgets .widget-woocommerce-currency-switcher {
			margin-right: 0;
		}

		&.footer-widgets .footer-extras .socials {
			clear: both;
			float: none;
		}
	}

	.footer-layout-4 {
		&.footer-width-2,
		&.footer-width-3 {
			> .mr-container-fluid {
				padding-right: 60px;
				padding-left: 60px;
			}
		}

	}

	.page-template-template-home-boxed-content {
		.footer-layout-4 {
			&.footer-width-2,
			&.footer-width-3 {
				> .mr-container-fluid {
					padding-right: 50px;
					padding-left: 50px;
				}
			}

			.socials h2 {
				padding-right: 30px;
			}

		}

	}

	.site-content .split-scroll {
		.ms-left {
			.section-content {
				padding: 0 80px 0 150px;
			}
		}

		.ms-right .section-content {
			padding: 0 120px 0 100px;
		}

		.section-no {
			left: -150px;
		}
	}

	.portfolio-masonry .site-content > .mr-container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}

	.woocommerce.shop-filter-layout-1 .shop-sidebar .soo-product-filter-widget .product-filter {
		.filter-name {
			float: none;
			width: auto;
			display: block;
		}

		.filter-control {
			margin-left: 0;
		}

		&.category.list .filter-control {
			margin-top: 50px;
		}
	}

	.shop-toolbar {
		.sort-by,
		.shop-products-number,
		.shop-view {
			& > span {
				display: none;
			}
		}
	}

}

@media (max-width: 1367px) and (min-width: 1201px) {
	.shop-full-width {
		&.sidebar-content,
		&.content-sidebar {
			&.product-item-layout-1,
			&.product-item-layout-2 {
				&.woocommerce ul.products li.product {
					.product-inner .footer-product .footer-product-button {
						.btn-add-to-cart,
						.added_to_cart.wc-forward {
							.add-to-cart-title {
								display: none;
							}
						}

						.added_to_cart.wc-forward {
							font-size: 0;

							&:before {
								font-size: 22px;
								top: 50%;
								transform: translateY(-50%);
								display: block;
							}
						}
					}
				}

			}
		}
	}
}

@media (max-width: 1500px) and (min-width: 992px) {
	.header-top-style-2 {
		&.shop-view-grid ul.products li.product.fd-col-4 {
			width: 33.33%;

			&.first {
				clear: none;
			}

			&:nth-child( 3n +1 ) {
				clear: both;
			}
		}

		&.shop-view-list ul.products li.product {
			.woo-short-description {
				display: none;
			}
		}

		.mrbara-products {
			ul.products li.product.fd-col-4 {
				width: 33.33%;

				&.first {
					clear: none;
				}

				&:nth-child( 3n +1 ) {
					clear: both;
				}
			}
		}
	}

}

@media (max-width: 1425px) and (min-width: 992px) {
	.mr-container-large {
		padding-left: 30px;
		padding-right: 30px;
	}

	.woocommerce.full-content .mr-container-large ul.products li.product {
		width: 33.33%;

		&.first {
			clear: none;
		}

		&:nth-child( 2n+1 ) {
			clear: both;
		}
	}

	.header-top-style-2 {
		&.product-item-layout-1 ul.products li.product.fd-col-4 {

			.product-content-thumbnails {
				.btn-add-to-cart,
				.added_to_cart.wc-forward {
					padding-right: 0;
					padding-left: 0;
					i {
						left: 0;
						padding-left: 20px;
						padding-right: 20px;
						top: 0;
					}

					&:hover {
						i {
							background-color: #333;
						}
					}

					.add-to-cart-title {
						display: none;
					}
				}

				.added_to_cart.wc-forward {
					font-size: 0;

					&:before {
						font-size: 22px;
						top: 50%;
						transform: translateY(-50%);
						display: block;
					}
				}
			}
		}

		&.product-item-layout-2 {
			&.woocommerce ul.products li.product {
				.product-inner .footer-product .footer-product-button {
					.btn-add-to-cart i,
					.added_to_cart.wc-forward i {
						font-size: 22px;
					}

					.add-to-cart-title {
						display: none;
					}

					.added_to_cart.wc-forward {
						font-size: 0;

						&:before {
							font-size: 22px;
							top: 50%;
							transform: translateY(-50%);
							display: block;
						}
					}
				}
			}
		}

		.mrbara-icon-box .icon-box-wapper {
			width: 100%;
			float: none;
			.icon-box-content,
			.i-icon {
				float: none;
				width: 100%;
				margin-right: 0;
			}
		}

	}

	.woocommerce .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-control .filter-slider {
		width: 150px;
	}
}

@media (max-width: 1366px) {

	.left-side-menu-icon {
		left: 20px;
	}

	.page-template-template-home-boxed-content {
		.site {
			margin: 30px;
		}

		&.boxed {
			.site {
				border-width: 30px;
			}

			&.header-transparent {
				.site-header {
					& > .mr-container-fluid {
						padding-left: 30px;
						padding-right: 30px;
					}

					& > .container {
						padding-left: 30px;
						padding-right: 30px;
						width: 100%;
					}
				}
			}
		}

		&.header-transparent {
			.site-header {
				top: 30px;
			}
			.admin-bar .site-header {
				top: 60px;
			}

			.site-header {
				& > .mr-container-fluid {
					padding-left: 60px;
					padding-right: 60px;
				}
			}
		}
	}

	.site-content .split-scroll .section-content h2 {
		font-size: 65px;
	}

	.ms-section {
		&.section-image {
			background-position: center center;
			background-size: cover;

		}
	}

	.woocommerce.sidebar-content ul.products li.cat-sizer,
	.woocommerce.content-sidebar ul.products li.cat-sizer,
	.woocommerce.sidebar-content ul.products li.product-category,
	.woocommerce.content-sidebar ul.products li.product-category {
		width: 33.33%;
	}

	.woocommerce.shop-subcategories ul.products .cat-sizer {
		width: 33.33%;
	}

	.woocommerce.shop-subcategories ul.products li.product-category {
		width: 33.33%;

		&.category-full,
		&.category-wide {
			width: 66.66%;
		}

		h3 {
			font-size: 24px;
		}
	}

	.woocommerce-account.header-left {
		.site-content > .container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

}

@media (max-width: 1230px) and (min-width: 1025px) {

	.content-sidebar,
	.sidebar-content {
		&.product-item-layout-4 {
			.related.products,
			.upsells.products {
				ul.products li.product {
					.product-inner .footer-product .footer-product-button {
						.btn-add-to-cart,
						.added_to_cart.wc-forward {
							padding-left: 35px;
							.add-to-cart-title {
								display: none;
							}
						}

						.added_to_cart.wc-forward {
							font-size: 0;

							&:before {
								font-size: 22px;
								top: 50%;
								transform: translateY(-50%);
								display: block;
							}
						}
					}

				}
			}
		}

	}
}

@media (max-width: 1300px ) and (min-width: 1199px) {

	.header-top-style-1 {
		.primary-nav > ul > li {
			padding-left: 15px;
			padding-right: 15px;
		}

	}
}

@media (max-width: 1350px ) and (min-width: 992px) {

	.header-left {
		.container {
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}

	}
}

@media (max-width: 1230px) {
	.modal .woocommerce.product-page-images-carousel-vertical {
		padding: 0 15px;

		.modal-content.product {
			width: 100%;
		}
	}

}

@media (max-width: 1200px) {

	.pswp .video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		top: 50%;
		transform: translateY(-50%);
		iframe,
		.wp-video {
			width: 90%;
			height: 90%;
		}
	}

	.footer-layout-8 .widget:last-child {
		margin-bottom: 30px;
	}

	.site-header .site-title,
	.site-header .site-description {
		font-size: 0;
	}

	.site-header .logo img {
		height: auto !important;
	}

	.product-page-layout-1 {
		&.woocommerce div.product form.cart .compare-button {
			display: none;
		}
	}

	.header-top-style-8 .site-header .menu-sidebar {
		.search-field {
			width: 49%;
		}
	}


	.header-top-style-11 {
		.site-header {
			padding-top: 0;

			.menu-logo .logo.has-logo-sticky .logo-sticky {
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.header-main > .row {
				height: 78px;
				display: flex;
				align-items: center;
			}

			.navbar-toggle {
				display: block;
				float: left;
				width: 35%;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 10px;
			}

			.menu-sidebar {
				display: none;

			}

			.menu-sideextra {
				width: 35%;
				float: right;
				margin-top: 20px;

				.menu-item-yith,
				.menu-item-account {
					display: none;
				}

				.menu-item-cart .cart-contents {
					.woocommerce-Price-amount {
						display: none;
					}

					.mini-cart-counter {
						display: none;
					}
				}

				.mini-cart-counter,
				.widget_shopping_cart_content {
					display: none;
				}

				&.extra-style-3 {
					display: none;
				}
			}

			.primary-nav {
				display: none;
			}

			.menu-logo {
				width: 30%;
				text-align: center;

				.logo {
					align-items: center;
					padding: 10px 0;
					height: 82px;
				}

				img {
					margin: 0 auto;
				}
			}

			.main-menu {
				display: none;

				&.menu-style-3 {
					display: block;
					width: 35%;
					float: right;

					.col-nav-menu:before {
						display: none;
					}

					.primary-nav {
						display: block;
						background-color: transparent;

						.menu-sideextra {
							float: none;
							width: 100%;

							.menu-item-cart .cart-contents i {
								font-size: 26px;
							}
						}
					}

					.products-cats-menu,
					.primary-nav .menu{
						display: none;
					}

				}
			}

		}

		&.header-sticky {
			.site-header.minimized {
				.menu-logo {
					display: block;
				}

				.menu-logo-sticky {
					display: none;
				}

				.menu-sideextra {
					display: block;
				}
			}
		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}
	}

	.header-sticky.header-top-style-11 .site-header.minimized .menu-sideextra.extra-style-2 > ul {
		top: -10px;
	}

	.post-type-archive-product {
		.container {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.header-top-style-1,
	.header-top-style-10 {
		.site-header {
			.menu-logo .logo.has-logo-sticky {
				.logo-sticky {
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.navbar-toggle {
				display: block;
				float: left;
				width: 35%;
			}

			.menu-extra {
				width: 35%;
			}

			.menu-logo {
				width: 30%;
				text-align: center;

				img {
					margin: 0 auto;
				}
			}

			.menu-main {
				display: none;
			}

			.menu-extra {
				padding-top: 22px;
				.menu-item-account {
					display: none;
				}

				.menu-item-search {
					display: none;
				}

				.mini-cart {
					.mini-cart-counter {
						display: none;
					}

					.widget_shopping_cart_content {
						display: none;
					}
				}

			}
		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}

		&.display-mobile-menu {
			.primary-mobile-nav {
				display: block;
			}
		}
	}

	.boxed.header-top-style-1 .header-main .menu-logo {
		width: 30%;
	}

	.header-top-style-10 {

		.topbar {
			> .container {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.site-header {
			> .container {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}

			.navbar-toggle {
				padding-left: 15px;
			}

			.menu-extra {
				padding-right: 15px;
			}
		}
	}

	.header-top-style-2 {
		.mrbara-about {
			.about-bg > .row {
				display: block;

			}

			.about-content {
				padding-left: 40px;
				padding-top: 40px;
				padding-bottom: 40px;
				max-width: 100%;
			}

			.video-banner video {
				max-height: 460px;
			}
		}

		.mrbara-newletter {
			.b-content,
			.b-form {
				width: 50%;
				margin-left: 0;
			}
		}

	}

	.header-top-style-2 {

		.navbar-toggle {
			display: block;
			width: 35%;
			float: left;
			padding-top: 8px;
		}

		.site-header {
			.mr-container-fluid {
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		.site-header .header-main {
			display: flex;
			align-items: center;
			height: 82px;
			.menu-logo {
				display: block;
				width: 30%;
				float: left;
				text-align: center;

				img {
					margin: 0 auto;
				}
			}

			.menu-extra {
				width: 35%;
				float: left;

				.menu-item-search,
				.menu-item-account,
				.menu-item-nav {
					display: none;
				}

				.menu-item-cart {
					padding-top: 15px;
					.mini-cart-counter {
						display: none;
					}

					.widget_shopping_cart_content {
						display: none;
					}

					.cart-contents {
						i {
							font-size: 30px;
						}
					}
				}
			}
		}

		.site {
			padding-left: 0;
		}

		.left-sidebar {
			display: none;
		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}

		&.display-mobile-menu {
			.primary-mobile-nav {
				display: block;
			}

			.off-canvas-layer {
				display: block;
			}
		}

	}

	.header-sticky.header-top-style-11 .site-header.minimized .menu-logo .logo {
		display: block !important;
	}

	.header-sticky.header-top-style-11 .site-header.minimized .menu-sideextra.extra-style-3 {
		display: none;
	}

	.header-sticky.header-top-style-11 .site-header.minimized .main-menu.menu-style-3 .primary-nav .menu-sideextra {
		top: -10px
	}

	.header-sticky.header-top-style-11 .site-header.minimized .main-menu.menu-style-3 .primary-nav .menu-sideextra {
		left: 15px !important;
	}

	.shop-toolbar .show-number li {
		padding: 0 5px;
	}

	.shop-toolbar {
		font-size: 14px;
		> .row {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.main-nav {
		.modal-content {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.show-product-filter-mobile {
		position: relative;

		.shop-sidebar {
			position: absolute;
			top: 130px;
			left: 15px;
			right: 15px;
			background-color: @light;
			border: 1px solid #ccc;
			border-top: none;
			padding: 50px 30px !important;
			width: auto;
			z-index: 1000;
			display: none;

			.widget {
				display: none;

				.widget-title {
					display: none !important;
				}
			}

			.soo-product-filter-widget {
				display: block;
			}
		}

	}

	.show-product-filter-mobile .shop-filter-mobile {
		display: block;
	}

	.shop-toolbar {
		margin-top: 70px;
		.products-found,
		.shop-products-number,
		.shop-view {
			display: none;
		}

		.sort-by {
			text-align: right;
			position: relative;
			padding-right: 30px;

			&:before {
				font-family: FontAweSome;
				content: "\f161";
				font-size: 16px;
				position: absolute;
				top: 0;
				left: 30px;
			}
			> span {
				display: inline-block;
				float: none;
			}

			.woocommerce-ordering {
				text-align: left;
				display: inline-block;
				float: none;
			}
		}
	}

	.woocommerce.shop-view-list ul.products li.product {
		width: 100%;

		.woo-short-description {
			display: block;
		}

		.product-content-thumbnails {
			width: 35%;

			.btn-add-to-cart,
			.added_to_cart.wc-forward {
				left: 35%;
			}
		}

	}

	.woocommerce .cart-collaterals .cart_totals {
		padding: 20px 20px 30px;
	}

	.vc_wp_custommenu,
	.primary-sidebar {
		.menu {
			li {
				&.menu-item-has-children {

					> a {
						position: relative;
						color: @dark;

						.toggle-children {
							position: absolute;
							right: 0;
							top: 3px;
							width: 40px;
							height: 40px;
							line-height: 40px;
							text-align: right;
							z-index: 999;
							display: block;

							&.show-children {
								i:before {
									content: "\35";
								}
							}
						}

					}

				}

				&:first-child {
					> a {
						.toggle-children {
							top: 10px;
						}
					}
				}

				&.is-mega-menu .dropdown-submenu {
					border: none;
					border-bottom: 1px solid #eaeaea;
					.mega-menu-content {
						padding: 10px 15px;
					}
				}

				ul {
					position: static;
					transform: scaleX(1);
					display: none;
					width: 100% !important;
					border: none;
					background: none !important;
					opacity: 1;
					border-bottom: 1px solid #eaeaea;

					li {
						padding-left: 15px;
						padding-right: 15px;
					}

					ul {
						display: block;
						border: none;
					}
				}

			}
		}
	}

	.footer-layout-4,
	.footer-layout-3 {
		position: relative;
		text-align: center;
		.menu {
			text-align: center;
		}

		.col-logo {
			position: static;
		}

		.footer-logo {
			margin: 50px 0 0;
		}

		.socials {
			text-align: center;
			margin: 50px 0 0;
		}
	}

	.footer-layout-3 {
		.footer-copyright {
			padding-top: 30px;
		}
	}

	.footer-layout-4 {
		&.footer-width-2,
		&.footer-width-3 {
			> .mr-container-fluid {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

	}

	.page-template-template-home-boxed-content .footer-layout-3 > .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}

	.page-template-template-home-boxed-content {
		.footer-layout-4 {
			&.footer-width-2,
			&.footer-width-3 {
				> .mr-container-fluid {
					padding-right: 0;
					padding-left: 0;
				}
			}

		}

	}

	.product-page-layout-3 {
		div.product .product-layout-3 div.product-details {
			.product-images {
				width: 100%;
			}

			.entry-summary {
				width: 100%;
			}

			div.summary .entry-summary-content {
				margin: 50px  0 0;
			}
		}
	}

	.product-page-layout-4 {

		.site-content {
			background-color: @light;

			> .container-fluid {
				padding-left: 0;
				padding-right: 0;

				> .row {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		div.product .product-layout-4 {
			.product-details {
				padding-right: 0;
				margin-right: 0;
				border-right: none;

				.product-images {
					position: relative;
					padding-right: 0;

					.images {
						padding-left: 0;
					}

					.woocommerce-main-image {
						text-align: center;
					}
				}

				.entry-summary {
					background-color: #fff;
					padding-top: 40px;
				}

				.slick-dots {
					display: none !important;
				}
			}

		}
		.related-products {
			display: none;
		}
	}

	.product-page-layout-10 {

		.site-content {
			background-color: @light;

			> .container-fluid {
				padding-left: 0;
				padding-right: 0;

				> .row {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		div.product .product-layout-10 {
			.product-details {
				padding-right: 0;
				margin-right: 0;
				border-right: none;

				.product-images {
					width: 100%;
					position: relative;
					padding-right: 0;

					.woocommerce-main-image {
						text-align: center;
					}
				}

				.entry-summary {
					width: 100%;
					background-color: #fff;
					padding-top: 40px;
				}
			}

		}
		.related-products {
			display: none;
		}
	}

	.login-popup.popup-login-2 {
		.modal-dialog {
			width: 100%;
			padding: 0 15px;
		}
		.modal-content {
			width: 100%;
		}
	}

	.woocommerce-account {
		#customer_login {
			.col-btn-log {
				width: 100%;
			}
		}
	}

	.woocommerce .shop-topbar {
		position: relative;
		padding-bottom: 20px;

		& > .mr-container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}

		.shop-toolbar {
			margin-bottom: 20px;

			.sort-by:before {
				left: 0;
			}
		}

		.widget {
			width: 100%;
			padding: 0;
			margin-top: 20px;

			&:last-child {
				margin-top: 0;
			}

			&.product-sort-by {
				display: block;
			}
		}

		.widget.soo-product-filter-widget {
			float: left;
			.shop-filter-mobile {
				display: block;
				float: left;
				height: 30px;
				line-height: 30px;
				background-color: @primary-color;
				width: 100%;

				a {
					color: @dark;
					margin: 0;
				}

				.filter-title {
					margin-left: 80px;
					color: @light;
				}
			}

			.filter-name {
				margin-bottom: 20px;
			}

			form {
				position: absolute;
				top: 97px;
				left: 15px;
				background-color: @light;
				padding: 30px;
				z-index: 999;
				display: none;
				right: 15px;
				width: auto;
				border: 1px solid #ccc;
				border-top: none;
				.product-filter {
					display: block;
					float: left;
					padding: 20px 10px;
					width: 50%;

					&.price {
						width: 100%;
					}

					.filter-name {
						min-width: 80px;
					}

					&:after {
						content: '';
						display: block;
						clear: both;
					}
				}
			}
		}

	}

}

@media (max-width: 1030px ) and (min-width: 992px) {
	.product-page-layout-4 div.product .product-layout-4 .product_title {
		font-size: 24px;
	}
}

@media (max-width: 1060px) {
	.header-top-style-1 {
		.site-header {
			.navbar-toggle {
				display: block;
				float: left;
				width: 35%;
			}

			.menu-extra {
				width: 35%;
			}

			.menu-logo {
				width: 30%;
				text-align: center;

				img {
					margin: 0 auto;
				}
			}

			.menu-main {
				display: none;
			}

			.menu-extra {
				padding-top: 22px;
				.menu-item-account {
					display: none;
				}

				.menu-item-search {
					display: none;
				}

				.mini-cart {
					.mini-cart-counter {
						display: none;
					}

					.widget_shopping_cart_content {
						display: none;
					}
				}

			}
		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}

		&.display-mobile-menu {
			.primary-mobile-nav {
				display: block;
			}
		}
	}

	.header-top-style-2 {

		.mrbara-newletter {
			&.newsletter-style1 {
				.b-content,
				.b-form {
					width: 100%;
					text-align: center;
					float: none;

				}

				.b-form {
					max-width: 550px;
					margin: 20px auto 0;
				}
			}
		}

	}

	.header-left {

		.site {
			padding-left: 0 !important;
			margin-left: 0;

			&:after {
				display: none !important;
			}
		}

		.site-header {
			width: 100%;
			height: 80px;
			padding: 0 30px;
			display: block;

			.navbar-toggle {
				display: block;
				float: left;
				width: 35%;
				text-align: left;
			}

			.menu-extra {
				width: 35%;
				float: left;
				text-align: right;
				position: static;
				transform: none;
				margin-top: 0;

				.extra-menu-item.menu-item-cart {
					padding: 25px 0 0;
					.mini-cart-counter {
						display: none;
					}

					&:hover,
					&.selected-cart {
						background-color: transparent;

						& > a {
							background-color: transparent;
						}
					}
				}

				.menu-item-nav,
				.menu-item-search,
				.menu-item-account {
					display: none;
				}
			}

			.menu-logo {
				width: 30%;
				text-align: center;
				float: left;
				position: static;
				padding: 0;
			}

			.menu-footer {
				display: none;
			}
		}

		&.header-left-style-1 {
			.site-header {
				.navbar-toggle {
					.navbars-icon .navbars-line {
						background-color: @light;

						&:after,
						&:before {
							background-color: @light;
						}
					}
				}
			}
		}

		.off-canvas-panel.cart-panel {
			right: -445px;
			left: auto;
			z-index: 99999;
		}

		&.display-cart {
			.off-canvas-panel.cart-panel {
				right: 0;
				left: auto;
			}
		}

		&.display-mobile-menu {
			.primary-mobile-nav {
				display: block;
			}

			.off-canvas-layer {
				display: block;
			}
		}

		&.header-left-style-2 {
			.site-header {
				min-height: 80px !important;
				height: 80px !important;
				position: static;
			}

			.site-content {
				width: 100%;
			}
		}
	}

	.site-footer {
		.footer-layout-1 {
			.footer-main {
				text-align: center;
				.footer-logo {
					width: 100%;
					float: none;
					text-align: center;
					margin-bottom: 100px;
				}

				.footer-widget-main {
					width: 100%;
					float: none;
					padding: 0;
				}

				.footer-extras {
					width: 100%;
					float: none;
					text-align: center;
					max-width: 100%;
					margin-top: 20px;

					.widget-mr-language-switcher,
					.widget-mr-currency-switcher {
						display: none;
					}

					.socials {
						display: inline-block;
						float: none;
					}
				}
			}
		}
	}

	.site-content .split-scroll {
		.ms-left .section-content {
			padding: 0 60px;

		}

		.ms-right .section-content {
			padding: 0 60px;

		}

		.section-content h2 {
			font-size: 40px;
		}

		.section-no {
			left: -50px;
			font-size: 150px;
		}

		.section-content .title {
			margin-bottom: 30px;
		}
	}

	.filters-dropdown ul li {
		padding: 0 15px;
	}

	.portfolio-masonry .portfolio-4-columns {
		.portfolio-wapper {
			.entry-footer {
				display: none;
			}

			.icon-link {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@media (max-width: 1200px) and (min-width: 992px) {
	.shop-full-width {
		&.sidebar-content,
		&.content-sidebar {

			.content-area {
				padding-left: 15px;
				padding-right: 15px;
				overflow: hidden;
			}

			&.shop-view-grid {
				ul.products li.product.fd-col-4 {
					width: 33.33%;

					&.first {
						clear: none;
					}

					&:nth-child( 3n +1 ) {
						clear: both;
					}

				}
			}

			.soo-product-filter-widget .product-filter {
				width: 33.33%;
				float: left;
				padding: 0 10px;
			}
		}
	}

}

@media (max-width: 1024px) {

	.modal {
		display: none;

		&.in {
			display: block;
		}
	}

	.topbar .topbar-sidebar {
		#lang_sel,
		.widget.WOOCS_SELECTOR,
		.widget.widget-woocommerce-currency-switcher {
			display: none;
		}

	}

	.site-header {
		.logo img {
			max-height: 62px;
			width: auto;
		}
	}

	.header-top-style-3 {

		.primary-mobile-nav {
			right: -400px;
			left: auto;
		}

		&.display-mobile-menu .primary-mobile-nav {
			right: 0;
		}

		&.header-transparent {
			.site-header {
				padding-top: 0;
			}
		}
		.site-header {

			.site-description,
			.site-title {
				font-size: 0;
				text-indent: -999999px;
			}

			.navbar-toggle {
				display: block;
				width: 50%;
				float: right;
				padding-top: 18px;
				padding-right: 15px;
				text-align: right;
			}

			.menu-logo {
				width: 50%;
				float: left;
				text-align: right;

				.logo img {
					max-height: 62px;
					height: auto;
				}
			}

			.primary-nav {
				display: none;
			}
		}

	}

	.header-top-style-4 {
		.primary-mobile-nav {
			right: -400px;
			left: auto;
		}

		&.display-mobile-menu .primary-mobile-nav {
			right: 0;
		}

		&.header-transparent .site-header {
			padding: 0;
		}
		.site-header {

			.site-title,
			.site-description {
				font-size: 0;
				text-indent: -99999px;
			}
			.navbar-toggle {
				display: block;
				float: right;
				text-align: right;
				width: 50%;
			}

			.menu-logo {
				width: 50%;
				text-align: right;
			}

			.menu-main,
			.menu-extra {
				display: none;
			}

		}
	}

	.header-top-style-5,
	.header-top-style-4,
	.header-top-style-3 {
		.site-header .navbars-icon .navbars-line {
			right: 0;
			left: auto;
		}
	}

	.header-top-style-8 {
		.site-header {
			padding-top: 0;

			.menu-logo .logo.has-logo-sticky .logo-sticky {
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.header-main > .row {
				height: 78px;
				display: flex;
				align-items: center;
			}

			.navbar-toggle {
				display: block;
				float: left;
				width: 35%;
				padding-left: 15px;
				padding-top: 10px;
			}

			.menu-sidebar {
				width: 35%;
				float: right;

				.products-search {
					display: none;
				}

				.menu-sideextra {
					padding-top: 12px;

					.menu-item-account {
						display: none;
					}

					.menu-item-cart .cart-contents {
						.woocommerce-Price-amount {
							display: none;
						}

						.mini-cart-counter {
							display: none;
						}
					}
				}

				.primary-nav {
					display: none;
				}

			}

			.menu-logo {
				width: 30%;
				text-align: center;

				.logo {
					align-items: center;
					padding: 10px 0;
				}

				img {
					margin: 0 auto;
				}
			}

			.menu-main {
				display: none;
			}

			.menu-sidebar {
				.mini-cart-counter,
				.widget_shopping_cart_content {
					display: none;
				}
			}

		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}
	}

	.header-top-style-6,
	.header-top-style-7 {

		&.header-transparent {
			.site-header {
				padding: 0;
			}
		}

		.site-header {
			padding: 0;
			.mr-container-fluid {
				padding-left: 30px;
				padding-right: 30px;
			}

			.logo {
				align-items: center;
			}
		}

		&.mrbara-template-homepage {
			.site-header {
				padding-top: 0;
				.header-main {
					padding: 0;
				}
			}
		}

		.navbar-toggle {
			display: block;
			width: 35%;
			float: left;
			padding-top: 17px;
			padding-left: 15px;
		}

		.menu-logo {
			float: left;
			width: 30%;
			text-align: center;

		}

		.menu-extra-left {
			display: none;
		}

		.menu-extra-right {
			width: 35%;
			float: left;

			.menu-item-account,
			.menu-item-shop {
				display: none;
			}
		}

		.menu-extra .extra-menu-item.menu-item-cart {
			padding-top: 10px;
			.mini-cart-counter,
			.widget_shopping_cart_content {
				display: none;
			}
		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}

		&.display-mobile-menu {
			.primary-mobile-nav {
				display: block;
			}

			.off-canvas-layer {
				display: block;
			}
		}
	}

	.header-top-style-7 {
		.site-header {
			.menu-extra {
				padding-top: 20px;
			}

			> .container {
				padding-left: 30px;
				padding-right: 30px;
				width: 100%;
			}

		}

		&.mrbara-template-homepage {
			.site-header {
				padding-top: 0;
			}
		}
	}

	.header-sticky {
		&.header-top-style-9 {
			.site-header {
				padding-top: 0;

				.menu-nav,
				.menu-search {
					display: none;
				}

				&.minimized {
					.menu-logo,
					.menu-sidebar {
						display: block;
					}

					.header-main .menu-sideextra .menu-item-cart {
						top: 30px;
					}
				}
			}
		}

		&.header-top-style-8 {
			.site-header {
				&.minimized .menu-sidebar .menu-sideextra {
					display: block;
					.menu-item-cart {
						top: 30px;
					}
				}
			}
		}

	}

	.header-top-style-9 {
		.site-header {
			padding-top: 0;

			.menu-nav,
			.menu-search {
				display: none;
			}

			.header-main > .row {
				height: 78px;
				display: flex;
				align-items: center;
			}

			.navbar-menu {
				display: block;
				float: left;
				width: 35%;
				padding-top: 4px;
				padding-left: 15px;
				text-align: left;

				.navbar-toggle {
					padding-left: 0;
					float: left;
					padding-top: 5px;
					display: block;
				}
			}

			.menu-sidebar {
				width: 35%;
				float: right;
				padding-top: 4px;

				.products-search {
					display: none;
				}

				.menu-sideextra {

					.menu-item-account {
						display: none;
					}

					.menu-item-cart .cart-contents {
						.woocommerce-Price-amount {
							display: none;
						}

						.mini-cart-counter {
							display: none;
						}
					}

					.mini-cart .widget_shopping_cart_content {
						display: none;
					}
				}

				.primary-nav {
					display: none;
				}

			}

			.menu-logo {
				width: 30%;
				text-align: center;

				.logo {
					align-items: center;
				}

				img {
					margin: 0 auto;
				}
			}

			.menu-main {
				display: none;
			}

		}

		.off-canvas-panel.mini-cart {
			display: block;
		}

		&.display-cart {
			.off-canvas-layer {
				display: block;
			}
		}
	}

	.site-banner.no-parallax-mobile {
		background-attachment: scroll;
		background-position: center center !important;
		background-size: cover;
	}

	.split-scroll-nav {
		display: none;
	}

	.split-scroll {

		display: none;

		&.split-scroll-mobile {
			display: block;
			padding: 0 15px 30px;
			text-align: center;

			.section-image {
				margin-top: 100px;

				&:first-child {
					margin-top: 0;
				}
			}

			.section-content {
				margin-top: 30px;
				height: auto !important;
				.title {
					opacity: 1;
				}

				h2 {
					font-size: 40px;
				}

				.container {
					padding: 0 15px;
				}

				.section-no {
					transform: translateX(-30%);
					left: -10px;
				}
			}

			.mrbara-testimonials .owl-controls {
				text-align: center;
			}

		}
	}

	.page-template-template-home-split .site {
		height: auto;
	}

	.page-template-template-home-split .site-footer,
	.page-template-template-home-split .site-header {
		position: static;
	}

	.page-template-template-home-split .footer-layout-5 {
		position: static;
	}

	.page-template-template-home-split {
		height: auto !important;
		overflow: inherit !important;
		.site-content {
			height: auto;
		}
	}

	.woocommerce ul.products li.product {
		.product-inner .footer-product {
			.footer-product-button {
				.product-quick-view,
				.compare-button {
					display: none;
				}
			}
		}
	}

	.product-item-layout-1 {
		ul.products li.product {
			.product-inner .footer-product {
				bottom: 0;
				.footer-product-button {
					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						width: ~"calc(100% - 46px)";
						text-align: left;
						padding-left: 20px;
					}
				}
			}
		}

	}

	.product-item-layout-2 {
		ul.products li.product {
			.product-inner .footer-product {
				.footer-product-button {
					.yith-wcwl-add-to-wishlist {
						right: 0;
					}
				}
			}
		}

	}

	.product-item-layout-3,
	.product-item-layout-9 {
		ul.products li.product {
			.product-inner .footer-product {
				opacity: 1;
				transform: translateX(-50%) translateY(-50%) scale(1);
				bottom: auto;
			}
		}

	}

	.product-item-layout-4 {
		ul.products li.product {
			.product-inner .footer-product {
				.footer-product-button {
					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						left: auto;
						right: 0;
						transform: none;
					}
				}
			}
		}

	}

	.product-item-layout-5 ul.products li.product .product-inner {
		padding-bottom: 50px;
		.product-content-thumbnails .footer-product {
			opacity: 1;
			bottom: 0;
		}

		&:hover {
			.product-content-thumbnails {
				& > a {
					&:before {
						display: none;
					}
					&:after {
						display: none;
					}
				}

				& + .star-rating {
					opacity: 1;
				}

				.footer-product {
					opacity: 1;
				}
			}

			h3 {
				opacity: 1;
			}

			.price {
				opacity: 1;
			}
		}
	}

	.product-item-layout-6 ul.products li.product .product-inner {

		.product-content-thumbnails .footer-product {
			opacity: 1;
			bottom: 10px;

			.footer-product-button {
				.btn-add-to-cart,
				.added_to_cart.wc-forward {
					color: #666;
				}

				.yith-wcwl-add-to-wishlist {
					right: 5px;
				}
			}
		}

		&:hover {
			.product-content-thumbnails .footer-product {
				.footer-product-button {
					.btn-add-to-cart,
					.added_to_cart.wc-forward {
						color: @light;

					}
				}
			}
		}
	}

	.product-item-layout-7 ul.products li.product .product-inner .product-content-thumbnails .footer-product {
		opacity: 1;
	}

	.product-item-layout-8 ul.products li.product .product-inner .footer-product {
		bottom: 10px;
	}

	.product-item-layout-10 ul.products li.product .product-content-thumbnails .footer-product {
		bottom: 0;
	}

}

@media (max-width: 991px) {

	.container-fluid,
	.container,
	.mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;

	}

	.site-footer {
		.mr-container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.topbar {
		.topbar-sidebar {
			text-align: center;

			.widget {
				display: inline-block;
				float: none;
			}
		}

		.topbar-left {
			margin-bottom: 15px;
		}

	}

	.header-transparent .site-header {
		padding: 0;
	}

	.site-header {
		& > .container-fluid,
		& > .container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.site-footer {
		.container-fluid,
		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.header-top-style-2 .container {
		padding-left: 15px;
		padding-right: 15px;

	}

	.header-top-style-2 .site-header > .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-layout-5 > .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-top-style-6 {
		.site-header .mr-container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.header-top-style-7 {
		.site-header {
			> .container {
				padding-left: 15px;
				padding-right: 15px;
			}

		}

	}

	.mr-container-large {
		padding-left: 15px;
		padding-right: 15px;
	}

	.mr-col-md-5 {
		width: 50%;
	}

	.related-products,
	.upsell-products {
		.container {
			padding-left: 0;
			padding-right: 0;
		}

	}

	.footer-layout-4 {
		&.footer-width-2,
		&.footer-width-3 {
			> .mr-container-fluid {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

	}

	.page-template-template-home-width-1620 {
		.site-content {
			& > .container-fluid {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		&.header-top-style-6 .site-header > .mr-container-fluid {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}

		.footer-layout-4 {
			&.footer-width-2,
			&.footer-width-3 {
				> .mr-container-fluid {
					width: 100%;
					padding-left: 15px;
					padding-right: 15px;
				}
			}

		}
	}

	.header-sticky.header-top-style-11 .site-header.minimized .menu-sideextra.extra-style-2 > ul {
		right: 15px;
	}

	.product-page-layout-7 div.product .product-layout-7 .related.products ul.products li.product {
		margin-bottom: 50px;
	}

	.product-page-layout-11 div.product .product-layout-7 .related.products ul.products li.product {
		margin-bottom: 50px;
	}

	.product-page-layout-12 div.product .product-details {
		.product-images,
		.entry-summary {
			width: 100%;
		}

		.entry-summary {
			margin-top: 40px;
		}
	}

	.product-page-layout-9,
	.product-page-layout-12 {

		.products-links {
			display: none;
		}

		div.product .product-details .product-images-content {
			padding-right: 0;
			.product-thumbnails {
				display: none;
			}
		}
	}

	.product-page-layout-11 div.product .product-layout-11 div.product-details .product-toolbar .products-links {
		display: none;
	}

	.woocommerce ul.products li.product-category {
		width: 50%;
	}


	.header-transparent.admin-bar .site-header {
		padding-top: 0;
		padding-bottom: 0;
	}

	.header-left .site-header {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-top-style-5 {

		&.header-transparent {
			.site-header {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		.primary-mobile-nav {
			right: -400px;
			left: auto;
		}

		&.display-mobile-menu .primary-mobile-nav {
			right: 0;
		}

		.primary-mobile-nav .navbars-icon .navbars-line {
			background-color: @dark;

			&:after,
			&:before {
				background-color: @dark;
			}
		}

		.site-header {

			> .mr-container-fluid {
				padding-left: 15px;
				padding-right: 15px;
			}

			.site-description,
			.site-title {
				font-size: 0;
				text-indent: -999999px;
			}

			.navbar-toggle {
				display: block;
				width: 50%;
				float: right;
				padding-top: 20px;
				padding-right: 15px;
				text-align: right;
			}

			.menu-logo {
				width: 50%;
				float: left;
				text-align: right;
			}

			.menu-extra {
				display: none;
			}
		}

		&.header-top-normal {
			.site-header > .mr-container-fluid {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	.footer-layout-6 > .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.boxed.header-top-style-5 .site-header > .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.boxed.page-template-template-home-boxed-content.header-transparent .site-header > .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.boxed.page-template-template-home-width-1620 {
		&.header-top-style-6 .site-header > .container-fluid,
		.footer-layout-4 > .container-fluid,
		.site-content > .container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.header-top-style-5.header-top-normal {

		&.mrbara-template-homepage .site-header {
			padding-top: 0;
		}

		.primary-mobile-nav {
			right: -400px;
			left: auto;
		}

		&.display-mobile-menu .primary-mobile-nav {
			right: 0;
		}

		.site-header {
			padding: 0;

			.site-description,
			.site-title {
				font-size: 0;
				text-indent: -999999px;
			}

			.navbar-toggle {
				display: block;
				width: 50%;
				float: right;
				padding-top: 20px;
				padding-right: 15px;
				text-align: right;
			}

			.menu-logo {
				width: 50%;
				float: left;
				text-align: right;

			}

			.menu-extra {
				display: none;
			}
		}
	}

	.footer-layout-2 {
		.menu li {
			padding: 0 10px;
		}
	}

	.woocommerce.woocommerce-wishlist {
		table.shop_table {
			tr {
				.product-thumbnail {
					width: 60px;
					padding-left: 0;
					padding-right: 15px;

					img {
						max-width: 60px;
					}
				}

				td.product-name {
					padding-top: 30px;

					a {
						font-size: 14px;
					}

					.price-mobile {
						display: block;
					}
				}

				.product-price {
					display: none;
				}

			}
		}
	}

	.footer-layout-4.footer-width-2 {
		text-align: center;

		.footer-logo {
			margin: 50px 0 0;
		}

		.socials {
			text-align: center;
			margin: 50px 0;
		}
	}

	.site-content .split-scroll {
		.ms-left .section-content {
			padding: 0 30px;

		}

		.ms-right .section-content {
			padding: 0 30px;

		}

		.section-content h2 {
			font-size: 40px;
		}

		.section-no {
			left: -30px;
			font-size: 150px;
		}

		.ms-tableCell {
			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.split-scroll-nav {
		right: 10px;
	}

	.shop-full-width.sidebar-content .content-area,
	.blog.sidebar-content .content-area,
	.single-post.sidebar-content .content-area {
		padding-left: 15px;
	}

	.shop-full-width .content-area,
	.blog .content-area,
	.single-post .content-area {
		padding-right: 15px;
	}

	.shop-full-width .primary-sidebar,
	.blog .primary-sidebar,
	.single-post .primary-sidebar {
		padding-left: 15px;
	}

	.shop-full-width.sidebar-content .primary-sidebar,
	.blog.sidebar-content .primary-sidebar,
	.single-post.sidebar-content .primary-sidebar {
		padding-right: 15px;
	}

	.page-header-portfolio-layout-1 .page-header .desc,
	.page-header-portfolio-layout-2 .page-header .desc {
		br {
			display: none;
		}
	}

	.portfolio-grid .portfolio-wapper {
		width: 50%;
	}

	.portfolio-masonry {
		.portfolio-wapper {
			.entry-footer {
				display: none;
			}

			.icon-link {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.portfolio-masonry .portfolio-4-columns .portfolio-wapper {
		width: 33.33%;
	}

	.single-portfolio-type-image {
		.site-content > .container {
			padding-left: 15px;
			padding-right: 15px;

			.container {
				padding-left: 0;
				padding-right: 0;
			}

			.container-full {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.page-header-shop-layout-4.sidebar-content.shop-full-width .site-banner .col-bread {
		padding-left: 15px;
		margin-left: 0;
	}

	.blog-sidebar,
	.single-product .primary-sidebar {
		margin-top: 50px;
	}

	.single-product .primary-sidebar.mr-columns-2 {
		margin-top: 0;
	}

	.boxed.shop-full-width.sidebar-content .content-area {
		padding-left: 15px;
	}

	.woocommerce #customer_login {
		form.login,
		form.register {
			.form-row {
				.btn-log,
				.btn-regis {
					display: inline-block;

					.button {
						padding-right: 80px;
					}
				}
			}
		}
	}

	.woocommerce-cart .coupon-actions {
		margin-bottom: 80px;

		.coupon {
			width: 100%;
		}
	}

	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
		padding-left: 15px;
		padding-right: 15px;
	}

	.page-header-shop-layout-2 .site-banner {
		padding: 200px 0 150px;
	}

	.woocommerce ul.products li.product {
		&.first {
			clear: none;
		}

		&:nth-child( 2n+1 ) {
			clear: both;
		}
	}

	.single-product.sidebar-content .content-area {
		padding-left: 15px;
	}

	.single-product.sidebar-content .primary-sidebar {
		padding-right: 15px;
	}

	.product-page-layout-6 div.product .product-layout-6 {

		.entry-summary {
			padding-top: 50px;
		}

		.yith-wcwl-add-to-wishlist {
			display: none;
		}
	}

	.woocommerce .upsell-products ul.products li.product,
	.woocommerce .related-products ul.products li.product {
		margin-bottom: 30px;
	}

	.rev_slider .mr-button2 {
		padding: 0 !important;
	}

	.rev_slider .mr-button2:before {
		display: none;
	}

	.modal {
		.modal-dialog {
			width: 100%;
			padding: 0 15px;
		}

		.modal-content {
			width: 100%;
		}
	}

	.search-panel .search-content .search-panel-con {
		width: 100%;
		padding: 0 30px;
	}

	.product-page-mobile-2-columns {
		div.product div.summary {
			margin-top: 30px;

			.products-links {
				display: none;
			}
		}
	}

	.single-product.sidebar-content .content-area:before {
		display: none;
	}

	.footer-layout-8 .footer-copyright-vertical .footer-copyright,
	.footer-layout-8 .footer-copyright-vertical .footer-payment {
		text-align: center;
	}

	.footer-layout-8 .footer-copyright-vertical .footer-payment .mr-payment li.title {
		display: block;
	}

	.woocommerce {
		&.columns-1 {
			ul.products {
				li.product {
					margin-right: 0;
					padding: 0 15px;
					float: left;
					width: 100%;
				}
			}
		}

		&.columns-2 {
			ul.products {
				li.product {
					width: 50%;
					padding: 0 15px;
					float: left;
				}
			}
		}

		&.columns-3 {
			ul.products {
				li.product {
					width: 33.33%;
					padding: 0 15px;
					float: left;
				}
			}
		}

		&.columns-4 {
			ul.products {
				li.product {
					width: 50%;
					padding: 0 15px;
					float: left;
				}
			}
		}

		&.columns-5 {
			ul.products {
				li.product {
					width: 50%;
					padding: 0 15px;
					float: left;
				}
			}
		}

		&.columns-6 {
			ul.products {
				li.product {
					width: 50%;
					padding: 0 15px;
					float: left;
				}
			}
		}
	}

}

@media (max-width: 831px) {
	.newsletter-popup .modal-content {
		width: 90%;
	}

	div.pp_woocommerce .pp_content_container {
		.pp_content  {
			#pp_full_res iframe {
				width: 100%;
				height: auto;
				min-height: 280px;

			}
		}
	}
}

@media (max-width: 767px) {
	input[type="text"] {
		-webkit-appearance: none;
		appearance: none;
		border-radius: 0;
	}

	.product-page-layout-7 div.product .product-layout-7 div.product-details .product-toolbar .products-links {
		display: none;
	}

	.single-product.product-page-layout-4 .content-area,
	.single-product.product-page-layout-10 .content-area{
		padding-right: 0;
		padding-left: 0;
	}

	.product-page-layout-4,
	.product-page-layout-10 {
		 .product-details > .container-full > .row {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.search-no-results .no-results .search-form .search-field {
		width: 100%;
	}

	.mr-center-mobile {
		text-align: center !important;
	}

	.disable-promo-mobile.top-promotion {
		display: none;
	}

	.topbar.hide-on-mobile {
		display: none;
	}

	.topbar .topbar-sidebar {
		.WOOCS_SELECTOR,
		#lang_sel {
			display: none;
		}

		.widget:after {
			display: none;
		}
	}

	.page-template-template-home-boxed-content {
		.site {
			margin: 15px;
		}

		&.boxed {
			.site {
				border-width: 15px;
			}

			&.header-transparent {
				.site-header {
					& > .mr-container-fluid {
						padding-left: 15px;
						padding-right: 15px;
					}

					& > .container {
						padding-left: 15px;
						padding-right: 15px;
						width: 100%;
					}
				}
			}

			.topbar > .container {
				padding-left: 15px;
				padding-right: 15px;
			}

			&.header-top-style-10 .site-header {
				> .container {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}

		.site-header > .mr-container-fluid {
			padding-left: 0;
			padding-right: 0;
		}

		.site-content > .container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}

		&.header-transparent {
			.site-header {
				top: 15px;
				> .mr-container-fluid {
					padding-left: 30px;
					padding-right: 30px;
				}
			}

			&.admin-bar {
				.site-header {
					top: 60px;
				}

				&.boxed {
					.site-header {
						top: 0;
					}
				}
			}

		}

		.footer-layout-4 {
			&.footer-width-2,
			&.footer-width-3 {
				> .mr-container-fluid {
					padding-right: 0;
					padding-left: 0;
				}
			}

		}
	}

	.header-transparent.admin-bar .site-header {
		top: 46px;
	}

	.header-top-style-2 .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-widgets {
		.footer-sidebar {
			text-align: center;
			margin-bottom: 40px;
		}
	}


	.footer-layout-2 {
		text-align: center;
		padding-top: 50px;

		.footer-newsletter {
			max-width: 450px;
			margin: 50px auto 0;
		}

		.socials {
			float: none;
			margin-top: 60px;
		}

		.footer-copyright {

			.text-copyright {

				&:after {
					width: 100%;
				}
			}

			.menu {
				text-align: center;
				padding-top: 30px;

				&:after {
					display: none;
				}
			}
		}
	}

	.footer-layout-4 {
		.footer-copyright {
			margin-top: 20px;
		}

		.mr-container-fluid,
		.container {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.footer-layout-5 {
		text-align: center;
		padding-bottom: 20px;

		.widget-mr-language-switcher {
			float: none;
			margin-top: 10px;

			ul {
				display: table;
				margin: 0 auto;
			}

			ul li {
				float: left;
			}
		}
	}

	.footer-layout-6 {
		text-align: center;
		padding-bottom: 10px;

		.socials {
			text-align: center;
			margin-top: 10px;
		}

		.mr-container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}

	}

	.page-header-default-layout .site-banner {
		padding: 80px 0 60px;
	}

	.page-header-page-layout-7 .site-banner {
		padding: 80px 0 60px;
	}

	.page-header-shop-layout-3 .site-banner h1 {
		font-size: 36px;
	}

	.page-template-template-coming-soon .coming-header {
		top: 35px;
	}

	.page-template-template-coming-soon.admin-bar .coming-header {
		top: 60px;
	}

	.my-account-page-transparent .woocommerce #customer_login h2.title-register {
		margin-top: 80px;
	}

	.woocommerce .woocommerce-message {
		padding-right: 3.5em !important;
		padding-left: 80px !important;
	}

	.woocommerce.shop-view-list ul.products li.product {
		width: 100%;

		.product-inner {
			max-width: 480px;
			margin: 0 auto;
		}

		.product-content-thumbnails {
			width: 100%;
			margin-bottom: 20px;
			margin-right: 0;

			.added_to_cart.wc-forward,
			.btn-add-to-cart {
				left: 15px;
				margin-left: 0;
				bottom: 20px;
			}

			.yith-wcwl-add-to-wishlist {
				bottom: 20px;
			}

			.product-quick-view {
				display: none;
			}
		}

		h3,
		.woo-short-description {
			padding-left: 15px;
			padding-right: 15px;
		}

		h3 + .star-rating {
			margin-left: 15px;
		}
	}

	.woocommerce .shop-topbar .widget.soo-product-filter-widget form .product-filter {
		width: 100%;
	}

	.mr-promotion-medium {
		text-align: center;

		&.text-position-left {
			.p-content {
				text-align: left;
			}
		}
	}

	.filters-dropdown ul {
		text-align: center;

		li {
			padding: 5px 10px;
		}
	}

	.site-banner h1 {
		font-size: 30px;
	}

	.blog .post-pagination .navigation {
		.next,
		.prev {
			display: none;
		}
	}

	.entry-header .mb-post-meta {
		&.mb-category {
			clear: both;
			margin-left: 100px;
		}

	}

	.single-post .site-banner h1 {
		font-size: 24px;
	}

	.single-post .site-banner {
		padding-bottom: 0;
	}

	.page-header-portfolio-layout-1 .page-header .desc,
	.page-header-portfolio-layout-2 .page-header .desc {
		font-size: 30px;
	}

	.portfolio-masonry .portfolio-4-columns .portfolio-wapper {
		width: 50%;
	}

	.portfolio-masonry .site-content > .mr-container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.work-single-desc {
		margin-bottom: 20px;
		.detail {
			margin-bottom: 20px;
		}
	}

	.single-portfolio_project .gallery-main-carousel .slick-list .slick-slide {
		max-width: 767px;
	}

	.single-portfolio-type-image {
		.portfolio-images {
			margin-top: 40px;
		}
	}

	.page-header-page-layout-11 .site-banner .page-header-content {
		margin-left: 0;
	}

	.page-header-page-layout-10 .site-banner {
		padding: 60px 0;
	}

	.page-template-template-coming-soon .coming-header {
		left: 30px;
		right: 30px;
	}

	.page-template-template-coming-soon .logo-coming {
		width: 30%;
	}

	.page-template-template-coming-soon .coming-socials {
		width: 70%;
	}

	.page-template-template-coming-soon .coming-footer {
		display: none;
	}

	.error404 {
		height: auto;
		overflow: inherit;

		.not-found .page-title {
			font-size: 100px;
		}

		.site-content {
			padding: 130px 0;
		}
	}

	.woocommerce.sidebar-content ul.products li.cat-sizer,
	.woocommerce.content-sidebar ul.products li.cat-sizer,
	.woocommerce.sidebar-content ul.products li.product-category,
	.woocommerce.content-sidebar ul.products li.product-category {
		width: 50%;
	}

	.woocommerce.shop-subcategories ul.products .cat-sizer {
		width: 50%;
	}

	.woocommerce.shop-subcategories ul.products li.product-category {
		width: 50%;

		&.category-full,
		&.category-wide {
			width: 100%;
		}
	}

	.woocommerce-cart,
	.woocommerce.woocommerce-wishlist {
		table.shop_table {
			tr {
				td.product-thumbnail {
					width: 60px;
					padding-left: 0;
					padding-right: 15px;

					img {
						max-width: 60px;
					}
				}

				td.product-name {
					padding-top: 30px;

					a {
						font-size: 14px;
					}

					.price-mobile {
						display: block;
					}
				}

				.product-price {
					display: none;
				}

			}
		}
	}

	.woocommerce.woocommerce-wishlist {
		table.shop_table {
			tr {

				.product-thumbnail {
					display: none;
				}

				.product-remove {
					width: 30px;
				}

				.product-stock-stauts {
					width: 120px;
				}
			}
		}
	}

	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2 {
		width: 100%;
	}

	.woocommerce-account .woocommerce .woocommerce-MyAccount-content .myaccount-sidebar ul {
		margin-bottom: 50px;
	}

	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
		margin-bottom: 20px;
	}

	.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-MyAccount-orders {
		tbody .order td,
		thead th {
			padding: 10px;
		}

		.order-date {
			display: none;
		}
	}

	.woocommerce-account.woocommerce-edit-address .woocommerce .woocommerce-MyAccount-content .address-form,
	.woocommerce-account.woocommerce-edit-account .woocommerce .woocommerce-MyAccount-content .address-form,
	.woocommerce-account.woocommerce-edit-address .woocommerce .woocommerce-MyAccount-content .edit-account,
	.woocommerce-account.woocommerce-edit-account .woocommerce .woocommerce-MyAccount-content .edit-account {
		width: 100%;
	}

	.page-header-shop-layout-2 .site-banner {
		padding: 150px 0 100px;
	}

	.newsletter-popup {
		.newletter-content {
			padding: 10px;
			.n-image {
				display: none;
			}

			.n-title {
				margin-bottom: 20px;
			}

			.n-desc {
				margin-bottom: 20px;

				br {
					display: none;
				}
			}

			.n-form {
				margin-bottom: 20px;
			}
		}

		&.newsletter-2 {

			.n-image {
				display: none;
			}

			.newletter-content {
				padding-left: 0;
				margin-top: 0;

				.n-title {
					padding-bottom: 10px;
					font-size: 30px;
					margin-top: 0;
				}

				.n-desc {
					margin-bottom: 15px;
				}

				.n-form {
					margin-bottom: 20px;
				}
			}
		}
	}

	.woocommerce.shop-filter-layout-1 .soo-product-filter-widget .product-filter .filter-name {
		margin-bottom: 10px;
	}

	.woocommerce div.product .product-details {
		.entry-summary {
			margin-top: 60px;
		}
	}

	.page-header-product-layout-3 .site-banner {
		padding: 160px 0 80px;
	}

	.product-page-layout-5 {
		div.product .product-layout-5 {

			.product_title {
				font-size: 24px;
			}

			.woocommerce-tabs {
				padding: 30px;
			}

			form.cart .variations {
				text-align: center;

				tr {
					float: none;
					width: 100%;
				}
			}

			.product-details .entry-summary .entry-summary-content {
				padding: 20px;
			}
		}

		.related.products,
		.upsells.products {
			padding: 20px;
		}
	}

	.product-page-layout-6 {
		div.product .product-layout-6 {

			.product_title {
				font-size: 24px;
			}

			.yith-wcwl-add-to-wishlist {
				display: inline-block;
			}

			.woocommerce-tabs {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.related-products,
		.upsell-products {
			padding-left: 15px;
			padding-right: 15px;
		}

	}

	.product-page-layout-8 .site-banner {
		padding-top: 200px;
		padding-bottom: 100px;
	}

	.product-page-layout-7 div.product .product-layout-7 div.summary .product_title {
		font-size: 24px;
	}

	.product-page-layout-4 div.product .product-layout-4 .product_title {
		font-size: 24px;
	}

	.product-page-layout-12 div.product form.cart .compare-button .compare {
		display: none;
	}

	.product-page-layout-12 div.product .woocommerce-tabs,
	.product-page-layout-9 div.product .woocommerce-tabs,
	.product-page-layout-8 div.product .product-layout-8 .woocommerce-tabs {
		margin-top: 50px;
	}

	.product-page-layout-10 div.product .product-layout-10 .product_title,
	.product-page-layout-11 div.product .product-layout-11 div.summary .product_title {
		font-size: 24px;
	}

	.product-page-layout-11 div.product .product-layout-11 .upsells.products,
	.product-page-layout-11 div.product .product-layout-11 .related.products {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.product-page-layout-4.woocommerce div.product .product-details .entry-summary {
		padding-right: 15px;
	}

	.product-page-layout-10.woocommerce div.product .product-details .entry-summary {
		padding-right: 15px;
	}

	.product-page-layout-10 div.product .product-layout-10 .product-details {
		background-color: transparent;
	}

	.woocommerce .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-control .filter-slider {
		width: 280px;
	}

	.page-header-page-layout-8 .site-banner {
		padding: 80px 0 75px;
	}

	.mrbara-map-shortcode {
		.ta-map {
			height: 300px !important;
		}
	}

	.site-footer .footer-sidebar {
		&.mrbara-col-4,
		&.mrbara-col-2,
		&.mrbara-col-3 {
			width: 100%;
		}

	}

	.footer-vertical {
		padding: 60px 0 55px;
	}

	.login-popup {
		&.in .modal-header .close {
			display: block;
			background-color: transparent;
		}

		.login-content .form-row {
			.rememberme {
				padding-left: 5px;
			}
		}

		&.popup-login-2 .login-content {
			.login-bar {
				display: none;
			}
			.login-tabs {
				width: 100%;
			}

			.login-form {
				margin-top: 40px;
			}
		}
	}

	.modal .woocommerce .modal-content .product {
		.product-images {
			display: none;
		}
		div.summary {
			width: 100% !important;
		}

		&.product-type-variable .product_title {
			padding-right: 0;
		}

	}

	.modal .woocommerce.product-page-images-carousel-vertical .modal-content.product .entry-summary {
		width: 100% !important;
	}

	.display-search.header-left .ui-autocomplete,
	.display-search.header-search-style-3 .ui-autocomplete {
		display: none !important;
	}

	.display-search .search-panel .instance-search .search-field {
		background: none;
	}

	.search-panel .search-content .search-panel-con h2 {
		display: none;
	}

	.display-search .search-panel .search-content {
		top: 50%;
	}

	.search-panel .search-panel-close {
		right: 40px;
	}

	.comment-list .children {
		padding: 0;
	}

	.product-page-mobile-2-columns {
		.related-products,
		.upsell-products {
			ul.products li.product {
				width: 100%;
			}
		}
	}

	.woocommerce.sidebar-content,
	.woocommerce.content-sidebar {
		#customer_login {

			.login {
				.col-user-log,
				.col-pass-log {
					width: 100%;
				}

				.mr-remember {
					padding-left: 15px;
				}
			}

			.register {
				.mr-agree {
					padding-left: 15px;
				}
			}

		}
	}

	.promotion .promotion-content {
		.promo-left {
			width: 70%;
			.inline {
				display: inline;
			}
		}

		.promo-right {
			width: 30%;
		}

	}

	.footer-quicklinks .mr-footer-links {
		margin-bottom: 20px;
	}

	.woocommerce.shop-filter-layout-2 .soo-product-filter-widget .product-filter.h-list .filter-control .filter-list .filter-list-item:hover .name,
	.woocommerce.shop-filter-layout-2 .soo-product-filter-widget .product-filter.list .filter-control .filter-list .filter-list-item:hover .name,
	.woocommerce.shop-filter-layout-2 .soo-product-filter-widget .product-filter.list .filter-control .filter-list .filter-list-item:hover .count {
		color: #333;
		border-color: transparent;
	}

	.woocommerce .cart-collaterals .cart-col-left, .woocommerce .cart-collaterals .cart-col-center {
		float: none !important;
	}

	.woocommerce nav.woocommerce-pagination ul li {
		padding: 0;
		.page-numbers {
			display: none;

			&.next,
			&.prev {
				display: inline-block;
				padding: 0 20px;

				span {
					font-size: 16px;
				}
			}
		}
	}

	.woocommerce #customer_login form.register .col-login {
		clear: both;

	}
}

@media (max-width: 600px) {

	.admin-bar .modal.in .modal-header {
		top: 60px
	}

	.header-sticky.admin-bar .site-header.minimizing {
		top: 0;
	}

	.header-sticky.admin-bar .site-header.minimized.minimizing,
	.header-sticky.admin-bar.boxed .site-header.minimized.minimizing {
		top: 0;
	}

	.header-sticky.admin-bar .site-header.header-sticky-1.minimized.minimizing,
	.header-sticky.admin-bar .site-header.header-sticky-2.minimized.minimizing,
	.header-sticky.boxed.admin-bar .site-header.header-sticky-1.minimized.minimizing,
	.header-sticky.boxed.admin-bar .site-header.header-sticky-2.minimized.minimizing {
		top: 0;
	}

	.admin-bar .primary-mobile-nav {
		top: 0;
	}

	.header-left.admin-bar .site-header {
		top: 46px
	}

	.header-sticky.admin-bar.boxed .site-header.header-sticky-2.minimized.minimizing {
		top: 0;
		animation: boxed-header-animation 0.5s;
	}

	.portfolio-grid .portfolio-wapper {
		width: 100%;

		.entry-content,
		.entry-footer {
			max-width: 370px;
			margin: 0 auto;
		}

		.entry-footer {
			margin-top: 25px;
		}
	}

	.woocommerce.shop-view-list ul.products li.product {

		.product-content-thumbnails {
			margin-right: 15px;

			.btn-add-to-cart,
			.added_to_cart.wc-forward {
				margin-left: 15px;
			}
		}

		h3 {
			font-size: 14px;
			padding-top: 15px;
		}
		.woo-short-description {
			margin-top: 0;
		}
	}

	.login-popup.popup-login-2 .login-content .login-form {
		padding-left: 15px;
		padding-right: 15px;
	}

	.login-popup.popup-login-2 .login-content h3 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.product-page-mobile-2-columns {
		.shop-widget-info ul li .w-icon {
			width: 30px;
			height: 30px;
			font-size: 12px;

			i {
				line-height: 30px;
				font-size: 13px;
			}
		}

		.shop-widget-info ul li .w-content {
			padding-left: 40px;
		}

		div.product form.cart .button {
			margin-top: 30px;
		}

		div.product form.cart .variations tr td {
			display: block;
		}

		div.product form.cart .variation-select-label + .soopas-swatches .swatch {
			margin-bottom: 10px;
		}

		&.product-page-layout-2 div.product .product-layout-2 .woocommerce-tabs ul.tabs {
			width: 100%;
		}

		&.product-page-layout-2 div.product .product-layout-2 .woocommerce-tabs .woocommerce-Tabs-panel {
			width: 100%;
			border: none;
			padding-left: 0;
		}
	}

	.promotion .promotion-content {
		.percent,
		.discount-percent{
			font-size: 48px;
		}

		.close {
			> span {
				display: none;
			}

			> i {
				padding-left: 0;
			}
		}

	}

}

@media (max-width: 480px) {

	.mr-container-large {
		padding-left: 15px;
		padding-right: 15px;
	}

	.mr-col-md-5 {
		width: 100%;
	}

	.header-top-style-6,
	.header-top-style-2,
	.header-top-style-5 {
		.site-header .mr-container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.page-template-template-home-boxed-content {
		.site-header {
			> .mr-container-fluid {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.footer-layout-2 {
		.footer-nav,
		.footer-copyright {
			& > .container {
				padding: 0 15px;
			}
		}

		.col-right {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.footer-layout-6 {
		.mr-container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.single-portfolio-type-image .site-content > .container {
		padding-right: 15px;
		padding-left: 15px;
	}

	.primary-mobile-nav {
		width: 320px;
		left: -320px;
	}

	.off-canvas-panel {
		width: 320px;
		right: -320px;
		padding: 20px;

		.widget-panel-header {
			margin-bottom: 10px;

			h2 {
				margin-top: 40px;
			}
		}

	}

	.mini-cart.woocommerce .buttons a {
		display: block;
		float: none;

		&.checkout {
			float: none;
			margin-top: 15px;
		}
	}

	.woocommerce.woocommerce-wishlist {
		table.shop_table {
			tr {

				.product-thumbnail {
					display: none;
				}

				.product-stock-stauts,
				.product-stock-status {
					display: none;
				}
			}
		}
	}

	.woocommerce ul.products li.product {
		width: 100%;
	}

	.header-top-style-2.woocommerce ul.products li.product.fd-col-4 {
		width: 100%;
	}

	.split-scroll.split-scroll-mobile {
		padding-left: 15px;
		padding-right: 15px;

		.section-content {
			p {
				br {
					display: none;
				}
			}

			.container {
				padding: 0;
			}
		}

		.vc_column_container > .vc_column-inner {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}

	.portfolio-masonry {
		.portfolio-wapper {
			width: 100%;

			.entry-content {
				max-width: 420px;
				margin: 0 auto;
			}
		}
	}

	.portfolio-masonry .portfolio-4-columns .portfolio-wapper {
		width: 100%;
	}

	.page-template-template-coming-soon .coming-socials h3 {
		display: none;
	}

	.error404 .not-found .page-content .search-form {
		width: 100%;
	}

	.woocommerce .woocommerce-message {
		padding-right: 20px !important;
		padding-left: 50px !important;

		&:before {
			left: 10px;
			top: 25px;
		}

		.button {

		}
	}

	.woocommerce-cart table.shop_table {
		.product-subtotal {
			display: none;
		}

		.product-thumbnail {
			display: none;
		}

		tr .actions {
			.button,
			.btn-shop {
				float: none;
				margin-bottom: 20px;
				width: 100%;
				text-align: center;
			}
		}
	}

	.show-product-filter-mobile .shop-sidebar {
		left: 15px;
		right: 15px;
	}

	.woocommerce.sidebar-content ul.products li.cat-sizer,
	.woocommerce.content-sidebar ul.products li.cat-sizer,
	.woocommerce.sidebar-content ul.products li.product-category,
	.woocommerce.content-sidebar ul.products li.product-category {
		width: 100%;
	}

	.woocommerce.shop-subcategories ul.products .cat-sizer {
		width: 100%;
	}

	.woocommerce.shop-subcategories ul.products li.product-category {
		width: 100%;
	}

	.product-page-layout-5 div.product .product-layout-5 .woocommerce-tabs {

		ul.tabs {
			width: 100%;
			margin-bottom: 40px;

			li {
				&:after {
					display: none;
				}
			}
		}

		.woocommerce-Tabs-panel {
			width: 100%;
			border: none;
			padding-left: 0;
		}
	}

	.product-page-layout-5 div.product .product-layout-5 form.cart .variations tr {
		padding: 0;
	}

	.product-page-layout-3 div.product .product-layout-3 div.product-details div.images .woocommerce-product-gallery__image {
		width: 100%;
	}

	.product-page-layout-3 div.product .product-layout-3 div.summary .entry-summary-content {
		margin-top: 0;
	}

	.product-page-layout-8,
	.product-page-layout-9 {
		.products-links {
			display: none;

		}

		.single_variation_wrap {
			width: 100%;
			margin-bottom: 20px;
			overflow: hidden;
		}

		div.product .yith-wcwl-add-to-wishlist {
			float: left;
		}
	}

	.woocommerce .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-control {
		.filter-slider {
			width: 200px;
		}
	}

	.mrbara-map-shortcode {
		.ta-map {
			height: 250px !important;
		}
	}

	.footer-layout-4,
	.footer-layout-3 {
		.socials h2 {
			display: none;
		}

		.socials a {
			padding: 0 15px;
		}
	}

	.shop-navigation-ajax.woocommerce nav.woocommerce-pagination li .page-numbers.next {
		letter-spacing: 10px;
	}

	.woocommerce nav.woocommerce-pagination ul li span,
	.woocommerce nav.woocommerce-pagination ul li a {
		font-size: 14px;
	}

	.login-popup {
		.modal-dialog {
			width: 100%;
			padding: 0 15px;
		}
		.modal-content {
			max-width: 100%;
		}
	}

	.product-page-mobile-2-columns {
		.shop-widget-info ul li {
			.w-icon {
				display: none;
			}

			.w-content {
				padding-left: 0;
			}
		}

		&.product-item-layout-1 ul.products li.product .product-inner .footer-product .footer-product-button {
			.add-to-cart-title {
				display: none;
			}
			.added_to_cart.wc-forward {
				font-size: 0;

				&:before {
					font-size: 22px;
					top: 50%;
					transform: translateY(-50%);
					display: block;
				}
			}
		}
	}

	.promotion .promotion-content {
		.promo-left {
			width: 100%;
			text-align: center;
		}

		.promo-right {
			display: none;
		}

	}

	.woocommerce {
		&.columns-1 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}

		&.columns-2 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}

		&.columns-3 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}

		&.columns-4 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}

		&.columns-5 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}

		&.columns-6 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}


		ul.products {
			li.product {
				width: 100%;
			}
		}

		&.shop-view-list ul.products li.product {
			.product-content-thumbnails {
				width: 100%;
				float: none;
			}

			.product-info {
				margin-left: 0;
			}
		}

		table.shop_table  {

			td.product-thumbnail-name a {
				font-size: 0;
			}

			.product-subtotal {
				display : none;
			}

			.product-quantity .qty {
				width: 70px;
				min-width: 70px;
				height: 40px;
				line-height: 40px;
			}
		}

		div.product form.cart {
			label,
			.label {
				white-space: normal;
				line-height: 1.6;
			}
		}
	}

	.product-multi-columns-mobile {
		.columns-1 {
			ul.products {
				li.product {
					width: 100%;
				}
			}
		}

		.columns-2 {
			ul.products {
				li.product {
					width: 50%;
				}
			}
		}

		.columns-3 {
			ul.products {
				li.product {
					width: 50%;
				}
			}
		}

		.columns-4 {
			ul.products {
				li.product {
					width: 50%;
				}
			}
		}

		.columns-5 {
			ul.products {
				li.product {
					width: 50%;
				}
			}
		}

		.columns-6 {
			ul.products {
				li.product {
					width: 50%;
				}
			}
		}

		ul.products {
			li.product {
				width: 50%;
			}
		}

		&.product-item-layout-1 ul.products li.product .product-inner .footer-product .footer-product-button {
			.add-to-cart-title {
				display: none;
			}
			.added_to_cart.wc-forward {
				font-size: 0;

				&:before {
					font-size: 22px;
					top: 50%;
					transform: translateY(-50%);
					display: block;
				}
			}
		}
	}

	.woocommerce div.product .woocommerce-tabs .panel iframe {
		height: auto;
	}
}

@media (max-width: 413px) {

	.topbar .topbar-sidebar {
		margin-bottom: 0;

		.widget {
			margin-bottom: 15px;
		}
	}

	.mrbara-posts .single_blog_item .blog-content .post-meta .p-comment {
		display: block;
		margin-top: 5px;
	}

	.primary-mobile-nav {
		width: 280px;
		left: -280px;
	}

	.off-canvas-panel {
		width: 280px;
		right: -280px;
	}

	.entry-header .mb-post-meta {
		&.mb-post-on,
		&.mb-tag {
			margin-left: 100px;
		}
	}

	.comment {

		.comment-content {
			margin-left: 60px;
		}

		.comment-meta {
			margin-right: 20px;
			.comment-author img {
				max-width: 40px;
			}
		}
	}

	.comment-list .children {
		padding-left: 0;
	}

	.woocommerce .cart-collaterals .cart_totals {
		padding: 20px;
	}

	.woocommerce-checkout .woocommerce form.checkout .order-review .woocommerce-checkout-review-order .shop_table {
		padding: 15px;
	}

	.woocommerce table.shop_table.customer_details {
		tr th,
		tr td {
			display: block;
		}
	}

	.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-MyAccount-orders {
		.order-total {
			display: none;
		}
	}

	.newsletter-popup .newletter-content .n-form {
		padding: 0;
	}

	.newsletter-popup .newletter-content .n-title {
		font-size: 12px;
		letter-spacing: 12px;
	}

	.newsletter-popup .newletter-content {
		padding: 0;
	}

	.shop-filter-mobile a {
		margin-left: 30px;
	}

	.show-product-filter-mobile .shop-sidebar {
		padding: 30px !important;
	}

	.shop-toolbar {
		margin-top: 50px;
		.sort-by {
			text-align: left;
			padding-left: 0;
			&:before {
				display: none;
			}

			.woocommerce-ordering {
				padding-left: 0;
				float: right;
			}
		}
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: block;
		float: none;
		padding: 0;
	}

	.product-page-layout-2 div.product .product-layout-2 .woocommerce-tabs {

		ul.tabs {
			width: 100%;

			li {
				&:after {
					display: none;
				}
			}
		}

		.woocommerce-Tabs-panel {
			width: 100%;
			border: none;
			padding-left: 0;
		}
	}

	.product-page-layout-4 .related-products ul.products li.product {
		width: 50%;
	}

	.product-page-layout-5 div.product .product-layout-5 form.cart .yith-wcwl-add-to-wishlist {
		margin-left: 0;
		margin-top: 20px;
	}

	.product-page-layout-3 div.product .product-layout-3 {
		form.cart {
			text-align: center;
			div.quantity {
				display: block;
				max-width: 125px;
				margin: 0 auto;
				float: none;
			}

			.button {
				float: none;
				clear: both;
				max-width: 250px;
				margin: 20px auto 0;

			}

			.yith-wcwl-add-to-wishlist {
				max-width: 100px;
				margin: 20px auto 0;
				float: none;
			}
		}
	}

	.product-page-layout-8,
	.product-page-layout-9 {
		div.product {

			form.cart {
				.button {
					margin-top: 0;
				}

				div.quantity {
					margin-bottom: 20px;
				}
			}
		}

	}

	.product-page-layout-9 .products-links,
	.product-page-layout-12 .products-links {
		display: none;
	}

	.product-page-layout-12,
	.product-page-layout-9 {
		div.product .product-details .product-images-content .thumbnails a img {
			max-width: 40px;
		}
	}

	.page-header-shop-layout-5 .site-banner .page-header-content {
		padding: 50px 30px 50px 30px;

		h1 {
			font-size: 30px;

			br {
				display: none;
			}
		}
	}

	.site-footer {
		.footer-newsletter {
			label {
				display: block;
				width: 100%;
				float: none;
				text-align: center;
				margin-bottom: 30px;
			}

			.mc4wp-form {
				width: 100%;
			}
		}

		.menu li {
			padding: 0 5px;
		}
	}

	.woocommerce .shop-topbar .widget.soo-product-filter-widget .product-filter .filter-control {
		.filter-slider {
			width: 200px;
		}
		.slider-amount {
			position: static;
		}
	}

	.woocommerce.woocommerce-wishlist {
		table.shop_table {

			tr {
				.product-add-to-cart {
					width: 100px;
				}
			}

			tbody td.product-add-to-cart .button {
				width: 46px;
				padding: 0;
				overflow: hidden;

				&:before {
					width: 46px;
					height: 46px;
					line-height: 44px;
					display: block;
					position: static;
				}
			}
		}
	}

	.mrbara-products-picks.products-picks-2 .title {
		font-size: 36px;
	}

	.login-popup.popup-login-2 .login-content .form-row .lost_password {
		display: block;
		float: none;
	}

	.woocommerce div.product .yith-wcwl-add-to-wishlist {
		margin-top: 20px;
	}

}

@media (max-width: 320px) {

	.woocommerce div.product form.cart .button {
		margin-top: 20px;
	}

	.woocommerce div.product .yith-wcwl-add-to-wishlist {
		margin-top: 0;
	}
}

@media (max-height: 500px) {
	.login-popup .login-content {
		padding-top: 20px;

		.login-title {
			margin-bottom: 20px;
		}

		.form-row {
			clear: both;
			&.form-row-wide {
				width: 50%;
				float: left;
				padding-left: 10px;
				clear: none;

				&:first-child {
					padding-left: 0;
				}
			}

			&.login-col {
				display: none;
			}

		}

		.col-login-socials {
			display: none;
		}
	}

	.login-popup .col-login-socials {
		display: none;
	}

	.login-popup .login-content .login-form form {
		margin: 0;
	}

	.modal .woocommerce .modal-content .product {
		max-height: 300px;
		overflow: auto;
	}

}