.mr-product-cat-bg .product-cat-bg-box {
	line-height: 60px;
}

.mr-product-cat-bg .product-cat-img {
	float: left;
	margin-right: 10px;
}

.mr-attribute-list {
	padding: 5px 20px 5px 10px;
}

.mr-recent-box {
	width: 280px;
	float: left;
	margin-right: 20px;
}

.mr-recent-box.last {
	margin-right: 0;
}

.mr-tamm-panel-box {
	width: 25%;
	float: left
}

.mr-tamm-panel-box-wide {
	width: 50%;
	float: left
}

.mr-tamm-panel-box-large {
	width: 100%;
	clear: both
}

.mr-clear {
	clear: both;
}

.mr-tab-box {
	width: 250px;
	float: left;
	margin-right: 10px;
}

.mr-tab-box.last {
	margin-right: 0;
}